@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title-wrapper {
    //   position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    //   left: 478px;
    //   top: 0px;
  }

  &__title {
    font-size: 48px;
    line-height: 58px;
  }

  &__wrapper {
    // position: absolute;
    width: 1141px;
    // left: 149px;
    // top: 1064px;
  }

  &__items {
    margin-top: 84px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 118px;
  }
}

.feature {
  margin-bottom: 40px;

  display: flex;

  max-width: 512px;

  &__info {
    margin-left: 24px;

    display: flex;
    flex-direction: column;
  }

  &__info--title {
    margin-bottom: 12px;

    font-family: 'MER', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    line-height: 29px;

    color: #fff;

    /* identical to box height */
    font-feature-settings: 'liga' off;
  }

  &__info--text {
    width: 100%;
    max-width: 424px;

    font-family: 'RR', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.035em;

    color: #fff;
    font-feature-settings: 'liga' off;
  }

  &__img {
    border-radius: 50%;
  }
}
