@import '../../styles/variables';
@import '../../styles/mixins';

.dark,
.light {
  .bridge {
    position: relative;
    top: 10px;

    @include shadow-block;
    margin: 0 auto;

    max-width: 580px;

    @include b(600) {
      width: 100%;

      background: transparent;
      border: none;
      box-shadow: none;
    }

    .form {
      padding: 40px 60px;

      @include b(600) {
        padding: 20px;
      }

      &__item {
        margin-bottom: 20px;

        &:nth-child(n + 3) {
          margin-bottom: 30px;
        }

        &:nth-child(n + 4) {
          .form__item__header {
            margin-bottom: 10px;
          }
        }

        &:nth-child(5) {
          margin-bottom: 20px;
        }

        &__header {
          margin-bottom: 6px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &__title {
            font-family: 'Monument Extended', sans-serif;
            font-size: 12px;
            line-height: 14px;

            opacity: 0.5;
          }

          &__link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            grid-gap: 13px;

            &__text {
              width: 148px;

              font-family: 'TTCommons', sans-serif;
              font-size: 16px;
              font-weight: 500;
              line-height: 18px;
              text-align: right;
              text-transform: uppercase;

              background: linear-gradient(180deg, #5381ff 0%, #1944b9 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

              &::selection {
                -webkit-text-fill-color: $white;
              }

              ::selection {
                -webkit-text-fill-color: $white;
              }
            }
          }
        }

        .gradient-box {
          padding: 3px;

          width: 100%;
          min-height: 85px;

          background: linear-gradient(180deg, rgb(39, 68, 146) 0%, rgb(40, 84, 206) 100%);
          border-radius: 45px;

          .box {
            padding: 10px 30px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: 100%;
            min-height: 85px;

            background: #1a1e3a;
            border-radius: 45px;

            &__value {
              font-family: 'TTNorms', sans-serif;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }

        &__input {
          display: flex;
          align-items: center;

          input {
            width: 268px;

            font-family: 'TTNorms', sans-serif;
            font-size: 18px;

            background: transparent;
            border: none;
            outline: none;

            &::placeholder {
              font-family: 'TTNorms', sans-serif;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;

              opacity: 1;
            }
          }

          &__send-max {
            padding: 0;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 102px;
            height: 31px;

            cursor: pointer;

            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 16px;

            &__text {
              font-family: 'TTNorms', sans-serif;
              font-size: 14px;
              font-weight: 700;
              line-height: 17px;

              opacity: 0.5;
            }
          }
        }

        &__footer {
          margin-top: 10px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          &__fee {
            margin-left: 25px;
            padding: 2px 10px;

            background: linear-gradient(180deg, #5381ff 0%, #1944b9 100%),
              linear-gradient(0deg, #674df6, #674df6);
            border-radius: 30px;

            &__text {
              font-family: 'Monument Extended', sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 14px;

              color: $white;

              opacity: 0.8;
            }
          }

          &__min-amount {

            font-family: 'Monument Extended', sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: right;

            opacity: 0.5;
          }
        }
      }

      &__note {
        margin-top: 20px;

        font-family: 'Monument Extended', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;

        text-align: center;

        opacity: 0.5;
      }

      &__submit {
        margin-top: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
          width: initial;
        }
      }
    }
  }
}

.light {
  .bridge {
    @include light-block;

    @include b(600) {
      background: transparent;
      border: none;
      box-shadow: none;
    }

    .form {
      &__item {
        &__footer {
          &__fee {
            &__text {
              color: #fff;

              opacity: 1;
            }
          }
        }

        .gradient-box {
          .box {
            background: #fff;
          }
        }

        &__input {
          &__send-max {
            border: 1px solid rgb(0, 3, 22);
            opacity: 0.4;

            &__text {
              color: rgb(0, 3, 22);
            }
          }
        }

        &__submit {
          &__button {
            color: #fff;
          }
        }
      }
    }
  }
}
