@import '../../../../styles/_variables.scss';
@import '../../../../styles/mixins';

.question {
  position: relative;

  margin-bottom: 24px;
  padding: 35px 81px 35px 105px;

  width: 100%;
  max-width: 1140px;

  background: linear-gradient(238.88deg, #000316 31.18%, #050c25 99.47%);
  border-radius: 32px;

  box-shadow: -8px 8px 36px rgba(0, 0, 0, 0.5);
  @include b('mobile') {
    margin: 0;
    padding: 0 0 30px 0;

    background: none;
    border-radius: 0;
    box-shadow: none;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__text--wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    max-width: 941px;

    @include b('tablet') {
      margin: 0;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-family: 'Monument Extended';
font-weight: normal;
    font-size: 24px;
    line-height: 120%;

    outline: none;

    gap: 43px;

    /* identical to box height, or 29px */
    font-feature-settings: 'liga' off;

    &:hover {
      cursor: pointer;
    }
    @include b('mobile') {
      font-size: 16px;
      line-height: 19px;
      gap: 8px;
    }

    @include b('tablet') {
      font-size: 20px;
      line-height: 23px;
    }
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 35px;

    overflow: hidden;

    width: 100%;
    max-width: 941px;

    font-family: 'Rubik';
font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.035em;

    color: #fff;
    font-feature-settings: 'liga' off;

    &--link {
      text-decoration: underline;

      color: #f47c45;
    }

    @include b('tablet') {
      margin-top: 10px;
    }
  }

  &__icon {
    outline: none;

    transition: transform 0.4s;
  }

  &__icon:hover {
    cursor: pointer;
  }
}

.colorOrange {
  color: #e95b40;

  transition-duration: 0.4s;
}

.colorWhite {
  color: #fff;

  transition-duration: 0.4s;
}

.invisible {
  margin: 0;

  max-height: 0;

  transition: all 0.4s ease-out;
}

.visible {
  max-height: 360px;

  transition: all 0.4s ease-out;
}

.down {
  transform: rotate(180deg);
}
