//.btn {
//  width: 100%;
//  height: auto;
//
//  border: none;
//  box-shadow: none;
//  font-feature-settings: 'liga' off;
//
//  &-white {
//    background-color: $white;
//  }
//
//  &-gray {
//    background-color: $gray-bg;
//  }
//
//  &-nav {
//    padding: 0 15px;
//
//    min-width: 120px;
//    height: 100%;
//
//    font-size: 16px;
//    line-height: 20px;
//
//    border-radius: 8px;
//
//    span {
//      background: $gradient;
//      background-clip: text;
//      -webkit-text-fill-color: transparent;
//    }
//  }
//
//  &-filled {
//    padding: 20px 40px;
//
//    box-sizing: border-box;
//
//    font-family: 'Monument Extended', sans-serif;
// font-weight: 800;
//    font-size: 15px;
//    line-height: 16px;
//    text-align: center;
//    letter-spacing: 0.15em;
//    text-transform: uppercase;
//
//    color: $white;
//    background: $gradient;
//
//    border-radius: 40px;
//
//    &:hover,
//    &:focus {
//      color: $white;
//      background: $gradient;
//    }
//  }
//
//  &-outline {
//    padding: 10px 20px;
//
//    font-family: 'TTNorms', sans-serif;
// font-weight: 700;
//    font-size: 16px;
//    line-height: 20px;
//
//    border-radius: 40px;
//  }
//
//  &-clear {
//    font-size: 16px;
//    line-height: 19px;
//
//    color: #000316;
//
//    span {
//      background: unset;
//      background-clip: unset;
//      -webkit-text-fill-color: unset;
//    }
//  }
//}
//
//.btn-outline {
//  border-radius: 40px;
//
//  &-sm {
//    padding: 1px;
//
//    .btn {
//      padding: 9px 19px;
//    }
//  }
//
//  &-md {
//    padding: 2px;
//
//    .btn {
//      padding: 8px 18px;
//    }
//  }
//
//  &-lg {
//    padding: 3px;
//
//    .btn {
//      padding: 7px 17px;
//    }
//  }
//
//  &-orange {
//    background: $gradient;
//
//    span {
//      background: $gradient;
//      background-clip: text;
//      -webkit-text-fill-color: transparent;
//    }
//  }
//
//  &-green {
//    background: linear-gradient(180deg, #26cc90 0%, #29cd92 100%);
//
//    span {
//      color: #27cd91;
//    }
//  }
//}
//
//.ant-btn-text {
//  color: black;
//}
.dark {
  .btn-outline {
    color: $white;
    border: 1px solid $white;

    &:hover,
    &:focus {
      color: $white;
      border-color: $white;
    }
  }
}

.light {
  .btn-outline {
    color: $black;
    border: 1px solid $black;

    &:hover,
    &:focus {
      color: $black;
      border-color: $black;
    }

    &-nav {
      color: $orange;
      border-color: $orange;

      &:hover,
      &:focus {
        color: $black;
        border-color: $black;
      }
    }
  }
  .btn-nav {
    &:hover,
    &:focus {
      color: $black;
      border-color: $black;
    }
  }
}

.dark,
.light {
  .btn {
    &-red {
      color: #d53038;
      border: 3px solid #d53038;
    }

    &-green {
      color: #27cd91;
      border: 3px solid #27cd91;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  border: none;
  border-radius: 12px;
  box-shadow: none;
  gap: 13px;

  transition: all 0.5s ease-in-out;

  &-filled {
    padding: 14px 40px;

    color: $white;
    background: #d53038;
    box-shadow: 0 16px 32px rgba(213, 48, 56, 0.3);

    transition: all 0s;

    &:hover,
    &:focus {
      color: $white;
      background: linear-gradient(180deg, #df3f3a 0%, #f47c45 100%);
    }
  }

  &-outline {
    padding: 20px;

    background-color: transparent !important;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &-nav {
    padding: 10px 20px;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    color: #d53038;
    background-color: transparent;
    border: 1px solid #d53038;

    &:hover,
    &:focus {
      color: $white;
      background-color: transparent;
      border-color: $white;
    }
  }

  &-clear {
    padding: 0;

    width: fit-content;

    background: transparent;

    span {
      transition: all 0.5s ease-in-out;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $orange;

      span {
        display: inline-block;

        background: $gradient;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &::selection {
          -webkit-text-fill-color: $white;
        }

        ::selection {
          -webkit-text-fill-color: $white;
        }
      }
    }
  }

  &-red {
    padding: 10px 20px;

    border-radius: 40px;
  }

  &-green {
    padding: 10px 20px;

    border-radius: 40px;
  }
}

.ant-btn-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;

  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}
