@import '../variables';
@import '../mixins';

.dark {
  .input {
    color: $white;
    background: $dark-bg;
  }

  .ant-input[disabled] {
    background: $black;
  }

  .input-with-select {
    &__select {
      background: rgba($black, 0.05);

      .ant-select-selector {
        background: rgba(255, 255, 255, 0.05);
        border-color: rgba(184, 183, 183, 0.05);
      }
    }
  }
}

.light {
  .input {
    color: $black;
    background: $white;
  }

  .ant-input[disabled] {
    background: $white !important;
  }

  .input-with-select {
    &__select {
      background: #eaeaea;

      .ant-select-selector {
        background: #eaeaea !important;
        border-color: #eaeaea !important;
      }
    }
  }
}

.dark,
.light {
  .input-border {
    background: linear-gradient(180deg, rgb(39, 68, 146) 0%, rgb(40, 84, 206) 100%);
  }
}

.input-border {
  padding: 3px;

  width: fit-content;

  height: 53px;

  border-radius: 60px;
}

.input {
  padding: 0 15px;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-family: 'TTNorms', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  border: none;
  border-radius: 60px;
  outline: none;
}

.input-with-select {
  position: relative;

  height: 85px;

  .input {
    padding: 0 25px;

    font-size: 30px;
    line-height: 35px;
    text-align: left;
  }

  &__token {
    position: absolute;
    top: 50%;
    right: 22px;

    display: flex;
    align-items: center;

    user-select: none;

    transform: translate(0, -50%);
    gap: 9px;
  }

  &__name {
    font-family: 'Monument Extended', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;

    color: rgba($black, 0.5);
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    background: #191c34;
    border-radius: 50%;

    img {
      width: 18px;
      height: 16px;
    }
  }

  &__tokens {
    position: absolute;
    top: 50%;
    right: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 139px;
    height: 65px;

    transform: translate(0, -50%);
  }

  &__select {
    width: 100%;
    height: 100%;

    border-radius: 60px;

    .ant-select-selector {
      padding: 0 12px;

      width: 100%;
      height: 100% !important;

      border-radius: 60px !important;

      .ant-select-selection-item {
        padding-right: 0;

        display: flex;
        align-items: center;
        gap: 7px;
      }
    }

    .ant-select-arrow {
      color: rgba(0, 0, 0, 0);
    }
  }

  .ant-input[disabled] {
    color: unset;
  }
}

.ant-select-item-option-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-input-number {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 144px;

  &-handler-wrap {
    display: none;
  }

  .ant-input-number-input {
    text-align: center;
  }
}

.text-area {
  width: 100%;
  height: unset;

  border-radius: 10px;

  .input {
    padding: 15px 20px;

    font-family: 'TTNorms', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    text-align: unset;

    border-radius: 10px;
    font-feature-settings: 'liga' off;
  }
}
// hidding arrows from number input

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.m-create-index {
  .form-create-index__input {
    &-name,
    &-symbol {
      &--error {
        background: $red;
      }
    }
  }

  .weights-sum,
  .token-weights-item__input-token {
    &--error {
      background: $red;
    }
  }
}
