@import '../_variables.scss';
@import '../mixins';

.dark {
  .ant-picker {
    @include shadow-dark-block;
    color: $white;
    &-input {
      input {
        color: $white;
      }
    }
    &-separator {
      color: rgba($white, 0.25);
    }

    &-suffix {
      color: rgba($white, 0.25);
    }
  }
}
.light {
  .ant-picker {
    @include shadow-light-block;
    color: $black;
    &-input {
      input {
        color: $black;
      }
    }
    &-separator {
      color: rgba($black, 0.25);
    }

    &-suffix {
      color: rgba($black, 0.25);
    }
  }
}
.ant-picker {
  width: 100%;
  height: 100%;

  font-family: 'TTNorms', sans-serif;
  font-weight: 700;

  border: none;
  border-radius: 60px;
  outline: none;

  &-input {
    input {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.range-picker {
  width: 100%;
}
