@import '../../styles/variables';
@import '../../styles/mixins';

.dark {
  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    //background: $table-selected;

    @include shadow-dark-block;
  }

  .table {
    &:hover {
      & > td {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) !important;
      }
    }

    &-row {
      .ant-table-cell {
        color: $white;

        a {
          color: $white;
        }
      }

      &:hover {
        & > td {
          cursor: pointer;

          //background: $table-selected !important;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) !important;
        }
      }
    }

    .ant-table-tbody {
      @include shadow-dark-block;
      border-radius: 0;

      & > tr.ant-table-placeholder:hover > td > .ant-empty > .ant-empty-description {
        color: rgba($black, 0.5);
      }

      .ant-empty {
        &-description {
          color: white;
        }
      }

      & > tr.ant-table-row-selected > td {
        color: $black;
        background: $white;
        border-color: rgba($white, 0.03);
      }
    }
  }

  .ant-table-thead {
    .ant-table-cell {
      color: rgba($white, 0.5);
    }
  }
}

.light {
  .ant-table-tbody > tr.ant-table-placeholder:hover > td {
    background: $black;
  }

  .table {
    &:hover {
      & > td {
        background: $white !important;
      }
    }

    &-row {
      .ant-table-cell {
        color: $black;
      }

      &:hover {
        & > td {
          cursor: pointer;

          color: $white !important;
          background: #14265a !important;
        }
      }
    }

    .ant-table-tbody {
      @include light-block;

      & > tr.ant-table-placeholder:hover > td > .ant-empty > .ant-empty-description {
        color: rgba($white, 0.5) !important;
      }

      &-description {
        color: $white;
      }

      & > tr.ant-table-row-selected > td {
        color: $white;
        background: #14265a;
        border-color: rgba(0, 0, 0, 0.03);
      }
    }
  }

  .ant-table-thead {
    .ant-table-cell {
      color: rgba($black, 0.5);

      a {
        color: $black;
      }
    }
  }
}

.table {
  &-row {
    .ant-table-cell {
      padding-top: 20px;
      padding-bottom: 20px;

      font-family: 'Monument Extended', sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;

      &:first-child {
        padding-left: 31px;
      }
    }

    td.ant-table-column-sort {
      background: #14265a;
    }
  }

  &__col-with-logo {
    display: flex;
    align-items: center;

    font-family: 'TTNorms', sans-serif;
    font-weight: normal;

    &__image {
      margin-right: 10px;

      width: 31px;
      height: 31px;
    }
  }

  .text-gradient {
    letter-spacing: 0.1em;
  }

  .ant-table {
    background: none;

    table {
      overflow: hidden;

      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      box-shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);

      & tr th.ant-table-selection-column,
      & tr td.ant-table-selection-column {
        display: none;
      }
    }

    &-thead {
      .ant-table-cell {
        padding-bottom: 13px;

        font-family: 'Monument Extended', sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;

        background: transparent;
        border: none;
      }
    }

    &-column-sorters {
      justify-content: flex-start;
      gap: 7px;

      .ant-table-column-title {
        flex: unset;
      }
    }

    &-tbody {
      & > tr > td {
        border-bottom: 1px solid rgba(#fff, 0.1);
      }

      tr:first-child {
        .ant-table-selection-column + .ant-table-cell {
          border-top-left-radius: 16px;
        }

        td:first-child {
          border-top-left-radius: 16px;
        }

        td:last-child {
          border-top-right-radius: 16px;
        }
      }

      // & > tr.ant-table-placeholder:hover > td > .ant-empty > .ant-empty-description {
      //   color: rgba($black, 0.5);
      // }
      & > tr.ant-table-row-selected > td {
        color: $white;
        background: #14265a;
        border-color: rgba(0, 0, 0, 0.03);
      }
    }
  }

  &-bottom-unbordered {
    table {
      overflow: unset !important;

      border: none !important;
      box-shadow: none !important;
    }

    .table-bottom {
      padding: 40px 20px;

      width: 100%;

      // background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
      //   linear-gradient(171.49deg, #1a1e3a 3.83%, #161a2a 100%);
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
    }
  }
}
