@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.m-rebalance {
  &__content {
    padding: 30px;
  }
}

.rebalance {
  &__total {
    padding: 20px 16px;

    display: grid;
    grid-template-columns: 1fr 134px 102px;
    grid-gap: 15px;

    align-items: center;

    &-name {
      font-family:'TNR',sans-serif;
      font-size: 18px;
      line-height: 21px;

      color: white;
    }

    .input-border {
      display: flex;
      justify-content: center;
      align-items: center;

      .input {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .input{
      background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(171.49deg, #1A1E3A 3.83%, #161A2A 100%);
    }
  }

  &-modal {
    position: relative;

    &__title {
      font-family: 'MER', sans-serif;
      font-size: 20px;
      line-height: 24px;

    }

    &__btn-row {
      margin-top: 20px;

      display: flex;
      justify-content: center;

      .btn {
        max-width: 207px;
        padding: 14px 40px;
      }
    }
  }

  &-items {
    margin-top: 20px;

    &__head {
      padding: 0 16px;
      margin-bottom: 10px;

      display: grid;

      font-family: 'MER', sans-serif;
      font-size: 12px;
      line-height: 14px;
      text-align: center;

      color: rgba(white, 0.5);
      grid-template-columns: 1fr 134px 102px;
      grid-column-gap: 15px;
      &-col{
        grid-column-start: 2;
      }
    }
  }

  &-item {
    padding: 16px;

    display: grid;
    grid-template-columns: 1fr 134px 102px;
    grid-column-gap: 15px;

    align-items: center;

    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 40px;
    .input{
      background: rgb(35, 38, 60);
      &[disabled]{
        color:rgba(white,0.25);
        background: rgb(35, 38, 60);
      }
    }
    & + & {
      margin-top: 10px;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__name-wrapper {
      margin-left: 10px;
    }

    &__name {
      font-family: 'TNB', sans-serif;
      font-size: 18px;
      line-height: 21px;

      color: white;
    }

    &__abbr {
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;

      color: rgba(white, 0.4);
    }

    &__remove {
      margin-left: auto;

      width: fit-content;
    }
  }

  &-add-token {
    margin-top: 30px;
    padding: 20px 16px 20px 62px;

    display: flex;
    align-items: center;

    border-top: 1px solid rgba($black, 0.1);

    &::before {
      content: '';

      margin-right: 10px;
      margin-left: -34px;

      width: 24px;
      height: 24px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Ccircle cx='11' cy='11' r='7' stroke='%23000316' stroke-width='2'/%3E%3Cpath stroke='%23000316' stroke-linecap='round' stroke-width='2' d='M11 8a3 3 0 00-3 3M20 20l-3-3'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }

    &__input {
      padding: 0;

      width: 100px;

      font-family: 'TNR', sans-serif;
      font-size: 18px;
      line-height: 21px;

      color: $black;
      background: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: $black;
        opacity: 1;
      }
    }
  }

  &-options {
margin-right: 13px;
    display: flex;
    gap: 10px;

    &-row {
      padding: 20px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 14px;
      line-height: 17px;

      color: white;
      border-top: 1px solid rgba(white, 0.1);
      border-bottom: 1px solid rgba(white, 0.1);

      &__title {
        font-family: 'TNR', sans-serif;
        font-size: 18px;
        line-height: 21px;
        max-width: 103px;
      }
    }
  }

  &-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__input-wrapper {
      width: 100px;
    }

    .input{
      background:  linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(171.49deg, #1A1E3A 3.83%, #161A2A 100%);
    }
  }
}
