@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .team {
    &__info--title,
    &__info--text {
      color: $white;
    }
  }
}

.light {
  .team {
    &__info--title,
    &__info--text {
      color: $black;
    }
  }
}
.advisors{
  margin-top: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include b('mobile') {
    margin-top: 30px;
  }
}
.teams {
  margin: 175px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-image: url('../../../assets/img/home-dark-bg-bottom.png');
  //background-repeat: no-repeat;
  //background-position: bottom center;
  //background-size: cover;
  //background-blend-mode: opacity(0.5);

  @include b('mobile') {
    margin: 30px 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    background-image: url('../../../assets/img/about-us-faq-bg.png');
    //transform: matrix(-1, 0, 0, 1, 0, 0);
    mix-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
  }
  &__title-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 48px;
    line-height: 58px;

    @include b('mobile') {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__wrapper {
    width: 1141px;
  }

  &__items {
    z-index: 2;
    margin-top: 84px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 118px;

    @include b('mobile') {
      margin-top: 30px;

      display: flex;
      flex-direction: column;
    }
  }
}

.team {
  margin-bottom: 40px;

  display: flex;

  max-width: 512px;

  @include b('mobile') {
    margin-bottom: 30px;
  }

  &__info {
    margin-left: 24px;

    display: flex;
    flex-direction: column;
  }

  &__info--title {
    margin-bottom: 12px;

    display: flex;
    align-items: center;

    font-family: 'Monument Extended', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;

    color: #fff;

    /* identical to box height */
    font-feature-settings: 'liga' off;

    @include b('mobile') {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__info--link {
    margin-left: 15px;

    display: flex;
    align-items: center;

    img {
      vertical-align: bottom;
    }
  }

  &__info--role {
    margin-bottom: 20px;

    font-family: 'Monument Extended', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;

    color: rgba(233, 91, 64, 1);
  }

  &__info--text {
    width: 100%;
    max-width: 424px;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.035em;

    color: #fff;
    font-feature-settings: 'liga' off;
  }

  &__img--wrapper {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    width: 64px;
    min-width: 64px;
    height: 64px;

    border-radius: 50%;
    align-self: flex-start;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
