@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .options {
    @include shadow-block;
  }
}
.light {
  .options {
    @include light-block;
  }
}
.options {
  margin-top: 40px;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;

  gap: 60px;

  &__option {
    display: flex;
    align-items: center;
    gap: 30px;

    &__input-wrapper {
      position: relative;
    }

    &-error {
      position: absolute;

      font-size: 0.7em;

      color: $red;
    }

    &-name {
      max-width: 213px;

      font-family: 'Monument Extended', sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
    }

    &-btn {
      max-width: 140px;
    }
  }
}
