@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .options {
    @include shadow-block;

    &__option__input-wrapper {
      .ant-input-affix-wrapper {
        .ant-input {
          color: $white;
        }
      }
    }
  }
}

.light {
  .options {
    @include light-block;

    &__option__input-wrapper {
      .ant-input-affix-wrapper {
        .ant-input {
          color: $black;
        }
      }
    }
  }
}

.options {
  margin-top: 40px;
  padding: 30px 40px;

  display: flex;
  flex-direction: column;

  gap: 60px;

  .input-border {
    padding: 3px;

    width: fit-content;

    height: 53px;
    border-radius: 60px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 30px;

    &__input-wrapper {
      position: relative;

      .ant-input-affix-wrapper {
        input.ant-input {
          font-family: 'TTNorms', sans-serif;
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          text-align: center;

          background: transparent;
        }
      }
    }

    &-error {
      position: absolute;

      font-size: 0.7em;

      color: $red;
    }

    &-name {
      max-width: 213px;

      font-family: 'Monument Extended', sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
    }

    &-btn {
      max-width: 140px;
    }
  }
}
