.tiers {
  text-align: center;
}

.tiers__title {
  font-size: 48px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.tiers__subtitle {
  font-size: 22px;
  opacity: 0.8;
  margin-bottom: 135px;
}
