.m-get-in {
  &__content {
    padding: 30px 20px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 20px;

    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
  }

  &__user {
    margin-bottom: 40px;

    .m-get-in__title {
      margin-top: 60px;
    }
  }

  &__you-pay {
    text-align: center;
    text-transform: uppercase;

    .input-border {
      margin: 0 auto;
    }
  }

  &__btns {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    gap: 20px;

    .btn {
      margin: 0;
    }
  }

  &__btn {
    max-width: 180px;
  }
}
