@import '../../styles/_variables.scss';

.button {
  padding: 20px 40px;

  box-sizing: border-box;

  font-family: 'MEB';
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  cursor: pointer;

  color: #fff;
  background: $gradient;
  border: none;
  border-radius: 40px;
}
