@import '../../../styles/_variables.scss';

.index-about {
  margin-top: 60px;

  max-width: 780px;

  &__title {
    font-family: 'Monument Extended';
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    letter-spacing: 0.1em;

    color: $black;
  }

  &__descr {
    margin-top: 20px;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.035em;

    color: $black;
  }
}
