@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.rebalance-table {
  margin-top: 60px;

  &__row {
    padding: 20px 10px;

    display: grid;
    align-items: center;
    grid-template-columns: 360px repeat(4, 1fr);
    grid-column-gap: 20px;

    & + & {
      border-top: 1px solid rgba($black, 0.1);
    }

    &--head {
      margin-bottom: 10px;
      padding: 0 30px;

      align-items: end;

      font-family: 'MER', sans-serif;
      font-size: 12px;
      line-height: 14px;

      color: rgba($black, 0.4);
    }
  }

  &__content {
    @include shadow-block;
    padding: 0 20px;
  }

  &__token {
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 21px;

    color: $black;

  }

  &__first-col{
    display: flex;
    align-items: center;
  }
  &__image{

    margin-right: 10px;

    width: 31px;
    height: 31px;
  }
  &__quantity {
    @include gradient-text;
    font-size: 16px;
    line-height: 19px;
  }

  &__price {
    font-family: 'MER', sans-serif;
    font-size: 18px;
    line-height: 22px;

    color: $black;
  }

  &__btn-row {
    padding: 40px 0;

    display: flex;
    justify-content: center;

    border-top: 1px solid rgba($black, 0.1);
  }
}
