@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.rebalance-table {
  margin-top: 60px;

  &__big {
    display: block;
    @include b(tablet) {
      display: none;
    }
  }

  &__small {
    padding-top: 15px;
    display: none;
    @include b(tablet) {
      display: block;
    }
  }

  &__btn-row {
    padding: 40px 0;

    display: flex;
    justify-content: center;

    border-top: 1px solid rgba($black, 0.1);

    .btn {
      max-width: 278px;
    }
  }
}
