@import '../../styles/_variables.scss';

.auth {
  display: flex;
  justify-content: center;
}

.auth-block {
  width: 600px;

  background-image: url('../../assets/img/auth-bg.png');
  background-repeat: no-repeat;
  background-position: top -4px left -20px;
  border-radius: 32px;
  box-shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);

  &__title {
    padding: 40px 30px;

    font-family: 'Monument Extended';
font-weight: 800;
    font-size: 18px;
    line-height: 27px;

    color: $white;
  }

  &__inner {
    padding: 40px 25px;

    display: flex;

    background: linear-gradient(196.93deg, #f6f8ff 11.67%, #e3e5f0 88.33%);
    border-radius: 32px;
  }
}

.auth-method {
  padding: 40px 40px 50px;

  cursor: pointer;

  background-color: $white;
  border-radius: 16px;
  box-shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);
  flex: 1;

  & + & {
    margin-left: 10px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
  }

  &__title {
    margin-top: 30px;

    font-family: 'Monument Extended';
font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: $black;
  }

  &__descr {
    margin-top: 30px;

    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: $blue;
    opacity: 0.5;
  }
}
