@import '/src/styles/variables';
@import '/src/styles/mixins';

.dark,
.light {
  .connect-wallet-box {
    .ant-modal-content {
      position: relative;

      border-radius: 32px;

      .background-image-container {
        position: absolute;

        background: linear-gradient(111.35deg, #b12e2a 21.78%, #f47c45 102.7%);
        border-radius: 32px;
        box-shadow: -8px 0 36px #000;

        &__text {
          position: absolute;
          top: 35px;
          left: 31px;

          font-family: 'Monument Extended', sans-serif;
          font-size: 18px;
          letter-spacing: 0.035em;
        }
      }

      .wallets-container {
        position: relative;
        top: 93px;

        @include shadow-dark-block;
        padding: 40px 25px;

        display: flex;
        grid-gap: 10px;

        &__wallet {
          padding: 44px 40px 50px;

          display: flex;
          flex-direction: column;
          align-items: center;

          width: 270px;

          cursor: pointer;

          background: $dark-bg;
          border: none;
          border-radius: 16px;
          box-shadow: $shadow-dark;

          transition: transform 0.3s ease;

          &:first-child {
            z-index: 1;
          }

          &:hover {
            transform: scale(1.03);
          }

          &__img-container {
            margin-bottom: 37px;

            display: flex;

            height: 111px;

            img {
              margin: auto;
            }
          }

          &__title {
            margin-bottom: 27px;

            font-family: 'Monument Extended', sans-serif;
            font-size: 18px;
            line-height: 22px;
            white-space: nowrap;
          }

          &__description {
            font-family: 'TT Norms', sans-serif;
            font-size: 16px;
            line-height: 19px;
            text-align: center;

            opacity: 0.5;
          }
        }
      }
    }
  }
}
