@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.footer {
  margin-top: 240px;
  padding: 60px 0;

  background-color: $footer-dark-bg;
  @include b('tablet') {
    margin-top: 140px;

    &__col {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:first-child) {
        display: none;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 380px repeat(3, 1fr);
    grid-column-gap: 145px;

    @include b('tablet') {
      display: flex;
      justify-content: center;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    margin-left: 15px;

    font-family: 'Monument Extended';
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.93em;

    color: $white;
  }

  &__descr {
    margin-top: 20px;

    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.035em;

    color: $white;
    @include b('tablet') {
      text-align: center;
    }
  }

  &__socials {
    margin-top: 25px;

    display: flex;
  }

  &__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    background-color: #0b1532;
    border-radius: 50%;
    box-shadow: 0 13px 18px rgba(17, 19, 35, 0.08);

    & + & {
      margin-left: 15px;
    }
  }

  &__copyright {
    margin-top: 30px;

    font-size: 16px;
    line-height: 30px;

    color: #afb5c0;
  }

  &__links-title {
    font-family: 'Rubik';
font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    color: #c7cfe2;
  }

  &__links {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      font-size: 16px;
      line-height: 30px;

      color: #4f5665;

      &:hover,
      &:active {
        color: #c7cfe2;
      }

      & + a {
        margin-top: 10px;
      }
    }
  }
}
