@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.dark {
  .token-panel {
    @include shadow-block;

    &-item__label {
      color: white;
    }
  }
}

.light {
  .token-panel {
    @include light-block;

    &-item__label {
      color: $black;
    }
  }
}

.token-panel {
  margin-top: 30px;
  padding: 30px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  @include b('mobile') {
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    @include b('mobile') {
      align-items: center;
      flex-direction: column;
    }
  }

  &__btns {
    display: flex;
    gap: 20px;
    flex-direction: column;
    @include b('mobile') {
      justify-content: center;

      width: 100%;
      align-items: center;

      .token-panel__btn {
        max-width: 155px;
      }
    }
  }
}

.token-panel-item {
  @include b('mobile') {
    text-align: center;
  }
  & + & {
    margin-left: 60px;
    @include b('mobile') {
      margin-left: 0;
    }
  }

  &__value {
    @include gradient-text;
    font-size: 24px;
    line-height: 29px;
  }

  &__label {
    margin-top: 5px;

    font-family: 'TTNorms', sans-serif;

    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
  }
}
