@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.token-panel {
  margin-top: 30px;
  padding: 30px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include shadow-block;

  &__content {
    display: flex;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }
}

.token-panel-item {
  & + & {
    margin-left: 60px;
  }

  &__value {
    @include gradient-text;
    font-size: 24px;
    line-height: 29px;
  }

  &__label {
    font-family: TNR,sans-serif;
    margin-top: 5px;

    font-size: 16px;
    line-height: 19px;

    color:white;
  }
}
