@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.dark {
  .token-panel {
      @include shadow-block;
      &-item__label{
        color: white;
      }
  }
}
.light {
  .token-panel {  
    @include shadow-light-block;
    &-item__label{
      color: $black;
    }
  }
}
.token-panel {
  margin-top: 30px;
  padding: 30px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include b('mobile') {
    flex-direction: column;
    gap: 20px;
  }


  &__content {
    display: flex;
    align-self: start;
  }

  &__btns {
    display: flex;
    gap: 20px;
    @include b('mobile') {
      justify-content: center;

      width: 100%;

      .token-panel__btn {
        max-width: 155px;
      }
    }
  }
}

.token-panel-item {
  & + & {
    margin-left: 60px;
  }

  &__value {
    @include gradient-text;
    font-size: 24px;
    line-height: 29px;
  }

  &__label {
    margin-top: 5px;

    font-family: 'TTNorms', sans-serif;

    font-size: 16px;
    font-weight: normal;
    line-height: 19px;

  }
}
