@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .index-table {
    &__content {
      @include shadow-dark-block;
      border-radius: 16px;
    }

    &__token,
    &__price {
      color: white;
    }

    &__row--head {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.light {
  .index-table {
    &__content {
      @include shadow-light-block;
    }

    &__token,
    &__price,
    &__row--head {
      color: $black;
    }
  }
}

.index-table {
  margin-top: 60px;

  &__row {
    padding: 20px 10px;

    display: grid;
    align-items: center;
    grid-template-columns:130px repeat(5, 1fr);
    grid-column-gap: 20px;

    & + & {
      border-top: 1px solid rgba($black, 0.1);
    }

    &--head {
      margin-bottom: 10px;
      padding: 0 30px;

      align-items: end;

      font-family: 'Monument Extended', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
    }
  }

  &__col {
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    padding: 0 20px;
  }

  &__token {
    font-family: 'TTNorms', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
  }

  &__first-col {
    display: flex;
    align-items: center;
  }

  &__image {
    margin-right: 10px;

    width: 31px;
    height: 31px;

    border-radius: 50%;
  }

  &__quantity {
    @include gradient-text;
    font-size: 16px;
    line-height: 19px;
  }

  &__price {
    font-family: 'Monument Extended', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
  }

  &__diff {
    width: 112px;

    font-family: 'TTNorms', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;

    &-down {
      padding: 10px 12px;

      display: flex;
      align-items: center;

      color: $red;
      border: 2px solid $red;
      border-radius: 20px;
      gap: 5px;
    }

    &-up {
      padding: 10px 12px;

      display: flex;
      align-items: center;

      color: $green;
      border: 2px solid $green;
      border-radius: 20px;
      gap: 5px;
    }
  }
}
