@import '../../styles/variables';
@import '../../styles/mixins';

.dark {
  .token-panel-ydr {
    .token-panel__btns-group {
      background: rgba($white, 0.1);
    }
  }
}

.light {
  .token-panel-ydr {
    .token-panel__btns-group {
      background: rgba($black, 0.1);
    }
  }
}

.ydragon-chart {
  margin-bottom: -100px;
  @include b('mobile') {
    margin-bottom: -50px;
  }
}

.token-panel-ydr {
  flex-direction: row;
  justify-content: space-between;
  @include b(1150) {
    justify-content: center;
    flex-direction: column;

    .token-panel-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .token-panel__btns {
      flex-wrap: wrap;

      flex-direction: row;
    }
  }

  @include b(extramobile) {
    padding: 30px 20px;
  }

  .token-panel__content {
    width: fit-content;
  }

  .token-panel__btns {
    flex-direction: row;

    width: fit-content;
  }

  &__btns {
    flex-wrap: wrap;

    display: grid;
    grid-template-columns: 401px 401px;
    @include b('tablet') {
      grid-template-columns: 1fr 1fr;
    }

    @include b(extramobile) {
      grid-template-columns: 1fr;
    }
  }

  .token-panel__btns-group {
    padding: 11px 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 40px;
    @include b(extramobile){
      border-radius: 20px;
    }
    @include b(1150) {
      flex-direction: column;

      .token-panel__info {
        margin-bottom: 10px;

        display: flex;
        align-items: center;
      }

      .token-panel__btns {
        flex-wrap: wrap;
      }
    }

    .btn {
      padding: 10px 30px;
    }
  }

  .token-panel__info {
    display: flex;
    align-items: center;
  }

  .token-panel__logo {
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    border-radius: 50%;

    img {
      max-height: 100%;
    }
  }

  .logo-pancake {
    background: #2996a4;
  }

  .logo-uniswap {
    background: #be246e;
  }

  .logo-apeswap {
    padding: 0;

    width: 36px;
    height: 36px;
  }

  .token-panel__subtitle {
    margin-right: 17px;

    font-family: 'TT Norms', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 19px;
  }
}
