@import '../../../styles/variables';
@import '../../../styles/mixins';

.powered {
  margin-left: auto;
  @include b(extramobile) {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
  }

  &:hover {
    .powered-by {
      background: $gradient;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      opacity: 1;

      &::selection {
        -webkit-text-fill-color: $white;
      }

      ::selection {
        -webkit-text-fill-color: $white;
      }
    }
  }

  &-by {
    margin-bottom: 7px;

    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 14px;
    text-transform: uppercase;

    color: #fff;

    opacity: 0.6;
  }
}
