@import '../../../styles/variables';
@import '../../../styles/mixins';

.dark {
  .home {
    &__sub-title,
    &__descr,
    &__currently-price {
      color: $white;
    }

    &__currently-price {
      @include shadow-dark-block;
    }
  }
}

.light {
  .home {
    &__sub-title,
    &__descr,
    &__currently-price {
      color: $black;
    }

    &__currently-price {
      @include shadow-light-block;
    }
  }
}


.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: calc(100vh - 178px);
  @include b('tablet') {
    margin-top: 30px;

    min-height: unset;
  }

  &__title-wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 144px;
    line-height: 173px;
    @include b('tablet') {
      font-size: 52px;
      line-height: 62px;
    }
  }

  &__sub-title {
    position: absolute;

    font-family: 'Monument Extended', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.87em;
    text-transform: uppercase;

    // color: $white;
    @include b('tablet') {
      font-size: 9px;
      line-height: 10px;
    }
  }

  &__descr {
    margin-top: 20px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.035em;

    // color: $white;
    @include b('tablet') {
      max-width: 350px;

      line-height: 22px;
    }
  }

  &__btns-row {
    margin-top: 30px;

    display: flex;
    justify-content: center;
    gap: 30px;

    width: 100%;

    .btn {
      padding: 17px 0;
    }

    @include b('tablet') {
      flex-direction: column;
      gap: 20px;

      align-items: center;
    }
  }

  &__btn {
    width: 100%;
    max-width: 250px;
    flex-shrink: 0;

    @include b('tablet') {
      max-width: 350px;
    }
  }

  &__currently-price {
    margin-top: 100px;
    padding: 35px 85px;

    font-size: 22px;
    line-height: 30px;

    color: #f7f8fd;

    span {
      @include gradient-text;
      margin: 0 10px;

      font-size: 22px;
      line-height: 30px;
    }

    @include b('tablet') {
      padding: 20px;
    }
  }
}
