@import '../../../styles/variables';
@import '../../../styles/mixins';

.dark {
  .home {
    &__sub-title,
    &__descr,
    &__currently-price {
      color: $white;
    }

    &__currently-price {
      @include shadow-dark-block;
    }
  }
}

.light {
  .home {
    &__sub-title,
    &__descr,
    &__currently-price {
      color: $black;
    }

    &__currently-price {
      @include shadow-light-block;
    }
  }
}

.home {
  margin-top: 175px;
  padding: 0 50px 0;
  position: relative;

  @include b('tablet') {
    margin-top: 30px;
    padding: 0;

    min-height: unset;
  }

  &__img {
    position: absolute;
    right: 0;
    top: -43px;
    @include b('tablet'){
      margin: 18px 0 32px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: unset;
      width: 100%;
      max-width: 256px;
      height: auto;
    }
  }

  &__title-wrapper {
    position: relative;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.2em;
    // line-height: 48px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include b('tablet'){
      flex-direction: column;
      justify-content: center;
      font-size: 34px;
      line-height: 41px;
    }
  }

  &__title {
    & + & {
      margin-left: 30px;
      display: block;
      @include b('tablet'){
        margin-left: 0;
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.08em;
      }
    }
  }

  &__sub-title {
    position: absolute;

    font-family: 'Monument Extended', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.87em;
    text-transform: uppercase;

    // color: $white;
    @include b('tablet') {
      font-size: 9px;
      line-height: 10px;
    }
  }

  &__descr {
    margin-top: 35px;

    font-size: 20px;
    line-height: 30px;
    max-width: 532px;
    letter-spacing: 0.035em;

    // color: $white;
    @include b('tablet') {
      margin: 0 auto;
      max-width: 350px;
      text-align: center;

      line-height: 22px;
    }
  }

  &__btns-row {
    margin-top: 35px;

    display: flex;
    gap: 30px;

    width: 100%;

    .btn {
      padding: 17px 0;
    }

    @include b('tablet') {
      flex-direction: column;
      gap: 20px;

      align-items: center;
    }
  }

  &__btn {
    width: 100%;
    max-width: 250px;
    flex-shrink: 0;

    @include b('tablet') {
      max-width: 350px;
    }

    .button-text {
      font-family: 'Rubik';
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      line-height: 25px;

      text-align: center;
    }
  }

  &__currently-price {
    margin-top: 150px;
    padding: 35px 85px;

    font-size: 22px;
    line-height: 30px;

    color: #f7f8fd;

    span {
      @include gradient-text;
      margin: 0 10px;

      font-size: 22px;
      line-height: 30px;
    }

    @include b('tablet') {
      padding: 20px;
    }
  }
}
