@font-face {
  font-family: 'MER';
  src: url('../assets/fonts/Monument-Extended-Regular.woff2') format('woff2'),
  url('../assets/fonts/Monument-Extended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MEB';
  src: url('../assets/fonts/Monument-Extended-Bold.woff2') format('woff2'),
  url('../assets/fonts/Monument-Extended-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TNR';
  src: url('../assets/fonts/TTNorms-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

