body {
  margin: 0;

  width: 100% !important;

  font-family: 'Rubik', sans-serif;
  font-weight: normal;

  span,
  div {
    font-feature-settings: 'liga' off;
  }

  .dark {
    color: white;
  }

  .light {
    color: #000316;
  }
}

img {
  vertical-align: top;
}

a {
  transition: color 0s;
  transition: background-color 0.3s;

  &:hover {
    color: unset;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

  // color: white;
}

.dark {
  transition: all 0.4s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .section__sub-title,
  .page__title-label {
    color: white;
  }


  &.page-wrapper {
    background-color: $main-dark-bg;
  }

  .page__title-icon--index {
    @include shadow-dark-block;
  }

  //.ant-select-dropdown {
  //  color: $white;
  //  background-color: $black;
  //  border: $black;
  //
  //  .ant-select-item-option {
  //    color: $white;
  //  }
  //
  //  .ant-select-item-option-selected,
  //  .ant-select-item-option-active {
  //    background-color: #3a3a66;
  //  }
  //}

  .ant-tooltip-inner {
    color: $black !important;
    background-color: $white !important;
  }

  .ant-tooltip-arrow-content {
    background-color: $white !important;
  }
}

.light {
  transition: all 0.4s;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .section__sub-title,
  .page__title-label {
    color: $black;
  }

  &.page-wrapper {
    background-color: $main-bg;
    background-image: url('../assets/img/home-bg.png');

    &--home,
    &--about {
      background-image: url('../assets/img/home-bg.png'), url('../assets/img/home-bg-bottom.png');

      @include b('tablet') {
        background-image: url('../assets/img/home-bg.png');
      }
    }

    &--simplified {
      background-image: none;

      @include b('mobile') {
        background-image: url('../assets/img/home-bg.png');
      }
    }

    &--staking {
      background-position: top center;
      background-size: cover;
      background-blend-mode: unset;
    }

    .ant-tooltip-inner {
      color: $black !important;
      background-color: $gray-bg !important;
    }

    .ant-tooltip-arrow-content {
      background-color: $gray-bg !important;
    }
  }

  .page__title-icon--index {
    @include shadow-light-block;
  }

  //.ant-select-dropdown {
  //  color: $black;
  //  background-color: $white;
  //}

  .ant-tooltip-inner {
    color: $white !important;
    background-color: $black !important;
  }

  .ant-tooltip-arrow-content {
    background-color: $black !important;
  }
}

.dark {
  transition: all 0.4s;

  &.page-wrapper {
    background-color: $black;
    background-image: url('../assets/img/home-dark-bg.png');

    &--home {
      background-image: url('../assets/img/home-dark-bg.png'), url('../assets/img/home-dark-bg-bottom.png');
    }

    &--simplified {
      position: relative;

      main, footer {
        z-index: 2;
      }

      header {
        z-index: 3;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1440px;
        z-index: 1;
        background-image:url('../assets/img/home-dark-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.2;
        background-image: url('../assets/img/simplified-bg.png');
        mix-blend-mode: luminosity;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
      }
    }

    &--staking {
      background-position: top center;
      background-size: cover;
      background-blend-mode: unset;
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: unset;
  // background-blend-mode: overlay;
  &--home {
    background-position: top center, bottom 390px center;
    background-size: contain;
    background-blend-mode: unset;
  }

  &--about {
    background-position: top center, bottom 681px center;
    background-size: contain;
    background-blend-mode: unset;

    @include b('tablet') {
      background-position: top center;
      background-size: cover;
      background-blend-mode: unset;
    }
  }

  &--pbf {
    background-position: top center, bottom 1740px center, bottom 400px center;
    background-size: contain;
    background-blend-mode: unset;
  }

  &--staking {
    background-position: top center;
    background-size: contain;
    background-blend-mode: unset;
  }
}

.expandWrapper {
  display: none;

  height: 0%;
}

main.container {
  margin-top: 30px;
}

//.content {
//  overflow: hidden;
//}

.container {
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
}

.section {
  $this: &;
  position: relative;

  & + & {
    margin-top: 175px;
    @include b('mobile') {
      margin-top: 30px;
    }
  }

  &--admin {
    & + & {
      margin-top: 65px;
    }
  }

  &__title-row {
    display: flex;
    align-items: center;

    #{$this}__sub-title {
      margin-top: 0;
      margin-left: 40px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    @include b('tablet') {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.035em;
    }
  }

  &__sub-title {
    @include title-text;
    margin-top: 10px;

    text-align: center;

    // color: $white;
    @include b('tablet') {
      margin: 20px auto 0;

      font-size: 14px;
      line-height: 17px;
    }
  }

  &__text-row {
    margin-top: 50px;

    display: flex;
  }

  &__text {
    max-width: 420px;

    @include normal-text;

    & + & {
      margin-left: 20px;
    }
  }
}

.page {
  &__title-row {
    display: flex;
    align-items: center;
  }

  &__title {
    display: block;
    overflow: hidden;

    max-width: 100%;

    text-overflow: ellipsis;

    &-wrapper {
      max-width: 100%;
    }
  }

  &__title-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 50% !important;

    &--ydr {
      background-color: $main-dark-bg;
    }
  }

  &__title-wrapper {
    margin-left: 20px;
  }

  &__title {
    font-size: 48px;
    line-height: 58px;

    @include b('mobile') {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__title-label {
    font-size: 16px;
    line-height: 19px;

    // color: white;
  }
}

.link {
  text-decoration: underline;

  color: $orange-l;

  &:hover,
  &:active {
    color: $orange-l;
  }
}

.isDisabled {
  cursor: not-allowed;

  opacity: 0.5;
}

.isDisabled > a {
  display: inline-block; /* For IE11/ MS Edge bug */

  text-decoration: none;

  pointer-events: none;
}

.ant-tooltip {
  z-index: 10 !important;
}

.tippy-content {
  word-break: break-all;
  text-align: center;
}

.ant-table-cell span {
  @include text-ellipsis(400px);
  display: block;
}

.ant-select-dropdown {
  position: fixed;
}
