body {
  margin: 0;

  font-family: 'RR', sans-serif;
  color: white;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

  color: white;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  background-color: $main-dark-bg;
  background-image: url('../assets/img/main-bg.svg');
  background-repeat: no-repeat;
  background-position: top 36px center;
  background-blend-mode: overlay;

  &--home {
    background-image: url('../assets/img/home-dark-bg.png'),
      url('../assets/img/home-dark-bg-bottom.png');
    background-position: top center, bottom 390px center;
    background-size: contain;
    background-blend-mode: unset;
  }
}

main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
}

.section {
  $this: &;
  position: relative;

  & + & {
    margin-top: 220px;
  }

  &--admin {
    & + & {
      margin-top: 80px;
    }
  }

  &__title-row {
    display: flex;
    align-items: center;

    #{$this}__sub-title {
      margin-top: 0;
      margin-left: 40px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
  }

  &__sub-title {
    @include title-text;
    margin-top: 10px;

    text-align: center;

    color: $white;
  }

  &__text-row {
    margin-top: 50px;

    display: flex;
  }

  &__text {
    max-width: 420px;

    @include normal-text;

    & + & {
      margin-left: 20px;
    }
  }
}

.page {
  &__title-row {
    display: flex;
    align-items: center;
  }

  &__title-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 50% !important;

    &--index {
      @include shadow-block;
    }

    &--ydr {
      background-color: #191c34;
    }
  }

  &__title-wrapper {
    margin-left: 20px;
  }

  &__title {
    font-size: 48px;
    line-height: 58px;
  }

  &__title-label {
    font-size: 16px;
    line-height: 19px;

    color: white;
  }
}

.link {
  text-decoration: underline;

  color: $orange-l;

  &:hover,
  &:active {
    color: $orange-l;
  }
}

.isDisabled {
  cursor: not-allowed;

  opacity: 0.5;
}

.isDisabled > a {
  display: inline-block; /* For IE11/ MS Edge bug */

  text-decoration: none;

  pointer-events: none;
}
