body {
  margin: 0;

  font-family: 'Rubik', sans-serif;
  font-weight: normal;

  color: white;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

  // color: white;
}

.dark {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .section__sub-title,
  .page__title-label {
    color: white;
  }
  .page-wrapper {
    background-image: url('../assets/img/home-dark-bg.png');
    background-color: $main-dark-bg;

    &--home,
    &--about {
      background-image: url('../assets/img/home-dark-bg.png'), url('../assets/img/home-dark-bg-bottom.png');

      @include b('tablet') {
        background-image: url('../assets/img/home-dark-bg.png');
      }
    }
  }
}

.light {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  .section__sub-title,
  .page__title-label {
    color: $black;
  }
  .page-wrapper {
    background-image: url('../assets/img/home-bg.png');
    background-color: $main-bg;

    &--home,
    &--about {
      background-image: url('../assets/img/home-bg.png'), url('../assets/img/home-bg-bottom.png');

      @include b('tablet') {
        background-image: url('../assets/img/home-bg.png');
      }
    }
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  // background-color: $bg-color;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-blend-mode: unset;
  // background-blend-mode: overlay;

  &--home {
    background-position: top center, bottom 390px center;
    background-size: contain;
    background-blend-mode: unset;
  }

  &--about {
    background-position: top center, bottom 681px center;
    background-size: contain;
    background-blend-mode: unset;

    @include b('tablet') {
      background-position: top center;
      background-size: contain;
      background-blend-mode: unset;
    }
  }
}

main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
}

.section {
  $this: &;
  position: relative;

  & + & {
    margin-top: 220px;
  }

  &--admin {
    & + & {
      margin-top: 80px;
    }
  }

  &__title-row {
    display: flex;
    align-items: center;

    #{$this}__sub-title {
      margin-top: 0;
      margin-left: 40px;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    @include b('tablet') {
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.035em;
    }
  }

  &__sub-title {
    @include title-text;
    margin-top: 10px;

    text-align: center;

    // color: $white;
    @include b('tablet') {
      margin: 20px auto 0;

      font-size: 14px;
      line-height: 17px;
    }
  }

  &__text-row {
    margin-top: 50px;

    display: flex;
  }

  &__text {
    max-width: 420px;

    @include normal-text;

    & + & {
      margin-left: 20px;
    }
  }
}

.page {
  &__title-row {
    display: flex;
    align-items: center;
  }

  &__title-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 50% !important;

    &--index {
      @include shadow-block;
    }

    &--ydr {
      background-color: #191c34;
    }
  }

  &__title-wrapper {
    margin-left: 20px;
  }

  &__title {
    font-size: 48px;
    line-height: 58px;

    @include b('mobile') {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__title-label {
    font-size: 16px;
    line-height: 19px;

    // color: white;
  }
}

.link {
  text-decoration: underline;

  color: $orange-l;

  &:hover,
  &:active {
    color: $orange-l;
  }
}

.isDisabled {
  cursor: not-allowed;

  opacity: 0.5;
}

.isDisabled > a {
  display: inline-block; /* For IE11/ MS Edge bug */

  text-decoration: none;

  pointer-events: none;
}
