$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

// Mobile first
$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;

$main-bg: #f2f3f8;
$main-dark-bg: #000316;
$footer-bg: #eceff9;
$footer-dark-bg: #000;
$gray-bg: #e9ebf3;

$black: #000316;
$white: #fff;
$orange: #df3f3a;
$orange-l: #e95b40;
$blue: #2754cd;
$green: #38dea2;
$green-l: #0cbd68;
$red: #de3f3a;

$gradient: linear-gradient(180deg, #df3f3a 0%, #f47c45 100%);
$shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);
$shadow-dark: -8px 8px 36px rgba(0, 0, 0, 0.5);

$dark-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
  linear-gradient(171.49deg, #1a1e3a 3.83%, #161a2a 100%);
