.dark {
  .loader-container {
    background: linear-gradient(238.88deg, #000316 31.18%, #050C25 99.47%);
  }
}

.light {
  .loader-container {
    background: linear-gradient(238.88deg, #ECEFF9 31.18%, #CBD5F7 99.47%);
  }
}

.loader-container {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
}

.loader {
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;

    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset,
    0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffBB inset,
    0 2px 0px #ffffff,
    0 2px 3px #ffffff,
    0 5px 5px #ffffff90,
    0 10px 15px #ffffff60,
    0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
  }

  &-logo {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}
