@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.token-item {
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 40px;

  &__info {
    display: flex;
    align-items: center;
  }

  &__name-wrapper {
    margin-left: 10px;

    color: white;
  }

  &__name {
    font-family: 'TNB', sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  &__abbr {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    opacity: 0.4;
  }

  &__weight {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 144px;
    height: 53px;

    font-family: 'TNB', sans-serif;
    font-size: 20px;
    line-height: 24px;

    background: linear-gradient(180deg, #5381ff 0%, #1944b9 100%);
    border-radius: 60px;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      padding: 3px;

      background: rgb(35, 38, 60);
      background-clip: content-box;
      border-radius: 60px;
    }

    span {
      position: relative;

      color: white;
    }
  }
}
