@import '../../../styles/mixins';

.apr-cell {
  display: flex;
  justify-content: center;

  svg {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  &-small {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
.token-structure-table {
  &__big {
    display: block;
    @include b(tablet) {
      display: none;
    }

    .ant-input-number {
      max-width: unset;
    }
  }

  &__small {
    padding-top: 15px;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }
}

.table__col-with-logo__image {
  border-radius: 50%;
}
