@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.future {
  &__row {
    margin-top: 140px;

    display: flex;
    justify-content: center;
  }
}

.future-item {
  padding: 30px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 40%;

  background: linear-gradient(355.19deg, #fff 0%, #dde1f0 100%);
  border-radius: 32px;
  box-shadow: -8px 8px 36px rgba(203, 209, 230, 0.3);

  & + & {
    margin-left: 60px;
  }

  &__img {
    margin-top: -20px;

    height: 200px;

    text-align: center;
  }

  &__title {
    margin-top: 20px;

    text-align: center;

    @include title-text;
  }

  &__descr {
    margin-top: 25px;

    @include normal-text;
  }

  &__link {
    margin-top: 20px;
    margin-left: auto;

    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    letter-spacing: 0.035em;

    color: $orange;
  }
}

.protocols-used {
  margin-top: 240px;

  &__title {
    text-align: center;

    @include title-text;
  }

  &__row {
    margin-top: 50px;

    text-align: center;
  }
}
