@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .chart-panel-title {
    color: $white;
  }
}

.light {
  .chart-panel-title {
    color: $black;
  }
}

.chart {
  margin-top: 66px;

  &-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include b('tablet') {
      flex-direction: column;
    }

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: 'Monument Extended', sans-serif;
      font-size: 50px;
      font-weight: normal;
      
      @include b('mobile') {
        font-size: 35px;
      }
    }
  }
}
