@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .m-create-index__content {
    .token-weights__search {
      border-top: 1px solid rgba($white, 0.1);
      border-bottom: 1px solid rgba($white, 0.1);
    }

    .form-create-index {
      .ant-input {
        background: $dark-bg;
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #1a1e3a inset !important;
        transition: background-color 5000s ease-in-out 0s;
        color: $white !important;
        -webkit-text-fill-color: $white !important;
      }
      input,
      .ant-input,
      .input {
        filter: none;
        &::placeholder {
          color: $white;
        }
      }
    }
  }
}

.light {
  .m-create-index__content {
    .token-weights__search {
      border-top: 1px solid rgba($black, 0.1);
      border-bottom: 1px solid rgba($black, 0.1);
    }

    .form-create-index {
      .ant-input {
        background: linear-gradient(355.19deg, #fff 0%, #dde1f0 100%);
      }

      input,
      .ant-input,
      .input {
        &::placeholder {
          color: $black;
        }
      }
    }
  }
}

.m-create-index {
  &__content {
    padding: 30px;
  }

  &__title {
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
  }

  .form-create-index {
    margin-top: 30px;

    &__inputs {
      margin-bottom: 30px;

      display: grid;
      grid-template-columns: 1fr 100px;
      grid-column-gap: 20px;
    }

    &__description {
      margin: 33px 0;
    }

    &__input {
      &-label {
        margin-bottom: 10px;

        font-family: 'Monument Extended', sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;

        opacity: 0.5;
      }

      .input-border {
        width: 100%;
      }

      &:last-child {
        p {
          text-align: center;
        }

        .input {
          text-transform: uppercase;
        }
      }
    }

    &__btn-row {
      .btn {
        margin: 20px auto 0;

        max-width: 135px;
      }
    }
  }

  .form-create-index__input {
    &-name,
    &-symbol,
    &-date {
      &--error {
        background: $red;
      }
    }
  }
  .weights-sum,
  .token-weights-item__input-token{
    &--error {
      background: $red;
    }
  }
}
