@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .m-create-index__content {
    .token-weights__search {
      border-top: 1px solid rgba($white, 0.1);
      border-bottom: 1px solid rgba($white, 0.1);
    }

    .ant-picker,
    .ant-picker-range {
      background: $main-dark-bg;
    }

    .form-create-index {
      .ant-input {
        color: $white;
        background: $main-dark-bg;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        color: $white !important;
        -webkit-box-shadow: 0 0 0 1000px #1a1e3a inset !important;

        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $white !important;
      }

      input,
      .ant-input,
      .input {
        filter: none;

        &::placeholder {
          color: $white;
        }
      }

      &__description {
        .ant-input-textarea-show-count {
          background: $main-dark-bg;

          &::after {
            color: #bfbfbf;
          }
        }
      }
    }
  }
}

.light {
  .m-create-index__content {
    .token-weights__search {
      border-top: 1px solid rgba($black, 0.1);
      border-bottom: 1px solid rgba($black, 0.1);
    }

    .form-create-index {
      .ant-input {
        background: linear-gradient(355.19deg, #fff 0%, #dde1f0 100%);
      }

      input,
      .ant-input,
      .input {
        &::placeholder {
          color: $black;
        }
      }
    }

    .form-create-index__description {
      .ant-input-textarea-show-count {
        background: linear-gradient(355.19deg, #fff 0%, #dde1f0 100%);
      }
    }
  }
}

.m-create-index {
  &__content {
    padding: 30px;
  }

  &__title {
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
  }

  .form-create-index {
    margin-top: 30px;

    &__inputs {
      margin-bottom: 30px;

      display: grid;
      grid-template-columns: 1fr 100px;
      grid-column-gap: 20px;
    }

    &__description {
      position: relative;

      margin: 33px 0;

      .ant-input-textarea-show-count {
        textarea {
          padding: 0;

          font-family: 'TTNorms', sans-serif;
          font-size: 17px;
          font-weight: normal;
          line-height: 20px;
          text-align: unset;

          background: transparent !important;
          border: none;
          border-radius: 10px;
          font-feature-settings: 'liga' off;
        }

        .ant-input {
          &:focus,
          &:active {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }

        &::after {
          margin: 25px -15px 0 0;

          font-size: 15px;
        }
      }
    }

    &__input {
      &-label {
        margin-bottom: 10px;

        font-family: 'Monument Extended', sans-serif;
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;

        opacity: 0.5;
      }

      &-price {
        .ant-input {
          font-size: 20px;
          font-weight: bold;
          line-height: 24px;
        }
      }

      .input-border {
        width: 100%;
      }

      &:last-child {
        p {
          text-align: center;
        }

        .input {
          text-transform: uppercase;
        }
      }
    }

    &-items {
      margin-top: 30px;
    }

    &__btn-row {
      .btn {
        margin: 20px auto 0;

        max-width: 135px;
      }
    }

    .ant-picker {
      .ant-picker-input {
        input {
          font-weight: 700;
        }
      }
    }
  }
}

.token-weights {
  &-items {
    &__head {
      margin-bottom: 10px;
      padding: 0 16px;

      display: grid;

      font-family: 'Monument Extended', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      text-align: center;

      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 15px;

      &-col {
        grid-column-start: 2;
      }
    }

    &__empty {
      margin: 25px 0;

      display: flex;
      align-items: flex-start;

      font-family: 'Monument Extended', sans-serif;
      font-size: 16px;
      font-weight: normal;
      line-height: 19px;
      gap: 9px;
    }
  }

  &-item {
    padding: 16px;

    display: grid;
    gap: 10px;

    @include b(extramobile) {
      grid-template-columns: 1fr 1fr;
    }

    align-items: center;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 40px;

    .input {
      background: rgb(35, 38, 60);

      &[disabled] {
        color: rgba(white, 0.25);
        background: rgb(35, 38, 60);
      }
    }

    & + & {
      margin-top: 10px;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__name-wrapper {
      margin-left: 10px;
    }

    &__name {
      font-family: 'TTNorms', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;

      color: white;
    }

    &__abbr {
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;

      color: rgba(white, 0.4);
    }

    &__remove {
      width: fit-content;
    }
  }

  &__total {
    padding: 20px 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

    align-items: center;

    @include b(extramobile) {
      grid-template-columns: 1fr 1fr;
    }

    &-name {
      font-family: 'TTNorms', sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: 21px;

      color: white;
    }

    .input-border {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      max-width: 164px;

      .input {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .input {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(171.49deg, #1a1e3a 3.83%, #161a2a 100%);
    }
  }

  &__search {
    padding: 20px 0;

    border-top: 1px solid rgba(white, 0.1);
  }
}
