@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.features {
  margin-top: 80px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 120px;
  grid-row-gap: 60px;
  @include b('tablet'){
    //margin-top:70px;
    grid-template-columns: unset;
    grid-template-rows: repeat(4,1fr);
  }
}

.features-item {
  display: flex;

  &__content {
    margin-left: 20px;
    @include b('tablet'){
      margin-left: 15px;
    }
  }

  &__title {
    font-family: 'MER';
    font-size: 24px;
    line-height: 29px;

    color: $white;
    @include b('tablet'){
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__descr {
    margin-top: 10px;

    font-size: 18px;
    line-height: 30px;

    color: $white;

    @include b('tablet'){
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.035em;
      font-feature-settings: 'liga' off;
    }
  }
}
