@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .protocols {
    &__title {
      color: $white;
    }

    &__link {
      background: linear-gradient(238.88deg, #000316 31.18%, #050c25 99.47%);
    }
  }
}

.light {
  .protocols {
    &__title {
      color: $black;
    }

    &__link {
      background: linear-gradient(238.88deg, #eceff9 31.18%, #cbd5f7 99.47%);
    }
  }
}

.protocols {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .swiper-wrapper {
    transition: transform 15s linear 0s;
    will-change: transform;
  }

  .swiper-container {
    overflow: visible;

    width: 100%;
  }

  &__link {
    padding: 0 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 147px;

    border-radius: 32px;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    @include title-text;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: center;

    text-align: center;
    gap: 43px;
    flex-wrap: wrap;

    & + & {
      margin-top: 54px;
    }
  }

  .ava-labs-icon {
    margin-top: 54px;
    align-self: center;
  }
}
