@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .protocols__title {
    color: $white;
  }
}

.light {
  .protocols__title {
    color: $black;
  }
}

.protocols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    @include title-text;
    text-align: center;
  }

  &__row {
    margin-top: 50px;
    margin-bottom: 122px;

    text-align: center;

    display: flex;
    gap: 43px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ava-labs-icon {
    margin-top: 54px;
    align-self: center;
  }
}
