@import '../../styles/_variables.scss';

.header {
  &__inner {
    padding: 60px 0;

    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    margin-left: 30px;

    font-family: 'MEB';
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.93em;

    color: $black;
  }

  &__nav {
    margin-left: auto;
  }
}

.header-nav {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;

  list-style: none;

  &__item {
    & + & {
      margin-left: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    color: $black;
  }

  &__btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;

    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    background: $gradient;
    background-clip: text;
    border-radius: 10px;
    -webkit-text-fill-color: transparent;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      padding: 1px;

      background: $gradient;
      border-radius: 10px;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
    }
  }
}
