@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.index-table {
  &__big {
    @include b(tablet) {
      display: none;
    }
  }

  &__small {
    padding-top: 15px;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }
}
