@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.machine {
  &__img {
    position: absolute;
    top: -50px;
    right: -40px;
  }
}

.machine-featuring {
  margin-top: 240px;

  &__title {
    @include title-text;
    text-align: center;
  }

  &__row {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 140px;
    grid-row-gap: 40px;
  }

  &__item {
    display: flex;
  }

  &__item-icon {
  }

  &__item-text {
    margin-left: 20px;

    @include normal-text;
  }
}
