@import '../../../styles/variables';
@import '../../../styles/mixins';

.dark {
  .no-ime {
    @include shadow-dark-block;
  }
}
.light {
  .no-ime {
    @include shadow-light-block;
  }
}

.no-ime {
  margin-top: 50px;
  padding: 70px 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  .no-ime__text {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }
}
