@import '../../../styles/variables';
@import '../../../styles/mixins';

.initial-mint-event {
  margin-top: 80px;
  padding: 70px 60px;

  display: flex;
  justify-content: space-between;

  @include shadow-dark-block;

  @include b('tablet'){
    padding: 0;
    flex-direction: column;
    margin-top: 40px;
  }
  &__content {
    max-width: 305px;
  }

  &__title {
    font-family: 'MER';
    font-size: 24px;
    line-height: 29px;

    color: $white;
    @include b('tablet'){
      margin-top: 30px;
    }
  }

  &__description {
    margin-top: 10px;

    font-size: 18px;
    line-height: 30px;

    color: $white;
    @include b('tablet'){

      font-size: 16px;
      line-height: 24px;
    }
  }
  &__timing {
@include b('tablet'){

  display: flex;
  flex-direction: column;
  align-items: center;
}
    & + & {
      margin-top: 60px;
    }
  }

  &__timing-name {
    @include gradient-text;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    @include b('tablet'){
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__timer {
    margin-top: 10px;

    display: flex;

    font-family: 'MER', sans-serif;
    font-size: 48px;
    line-height: 58px;
    text-align: center;

    color: $white;
    @include b('tablet'){
      font-size: 35px;
      line-height: 42px;
    }
  }

  &__timer-time {
    width: 85px;
    @include b('tablet'){
      width:56px;
    }
  }

  &__timer-colon {
    margin: 0 20px;

    width: 12px;
    @include b('tablet'){
      margin:0 10px;

    }
  }

  &__unit {
    display: flex;
  }

  &__unit-item {
    width: 85px;

    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.035em;

    color: rgba($white, 0.4);

    & + & {
      margin-left: 52px;
      @include b('tablet'){
        margin-left: 0;
      }
    }
  }

  &__get-btn {
    margin-top: 30px;

    width: 100%;
  }
}
