.no-ime {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(238.88deg, #000316 31.18%, #050c25 99.47%);
  border-radius: 32px;
  box-shadow: -8px 8px 36px (0 0 0 / 50%);
  padding: 70px 60px;

  &__text {
    font-family: 'MER';
    letter-spacing: 0.1em;
    background: linear-gradient(180deg, #df3f3a 0%, #f47c45 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
  }
}
