@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.dark {
  .chart-panel {
    &-btns,
    &-btn {
      background: rgba(255, 255, 255, 0.1);
    }
  }

  .chart-link {
    color: $white;
  }
}

.light {
  .chart-panel {
    &-btns {
      background: $white;
    }

    &-btn {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .chart-link {
    color: $black;
  }
}

.chart {
  margin-top: 66px;

  &-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include b('tablet') {
      flex-direction: column;
    }
    @include b('mobile') {
      margin-bottom: 20px;

      align-items: center;
      gap: 20px;
    }

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: 'Monument Extended', sans-serif;
      font-size: 50px;
      font-weight: normal;

      color: #fff;

      @include b('mobile') {
        display: flex;
        flex-direction: column;

        font-size: 30px;
        gap: 20px;
      }

      .diff {
        margin-left: 20px;

        font-family: 'TTNorms', sans-serif;
        font-size: 15px;
        font-weight: normal;

        &-down {
          padding: 5px;

          display: flex;
          align-items: center;

          color: #de3f3a;
          border: 2px solid #de3f3a;
          border-radius: 20px;
          gap: 5px;
        }

        &-up {
          padding: 5px;

          display: flex;
          align-items: center;

          color: #0cbd68;
          border: 2px solid #0cbd68;
          border-radius: 20px;
          gap: 5px;
        }
      }
    }

    &-btns {
      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;

      width: 288px;
      height: 62px;

      border-radius: 31px;
    }

    &-btn {
      padding: 10px 19px;

      font-family: 'TTNorms', sans-serif;
      font-size: 16px;
      font-weight: 700;

      cursor: pointer;

      color: #fff;

      border-radius: 21px;

      @include b('mobile') {
        padding: 5px 19px;
      }
    }

    .active {
      background: linear-gradient(to right bottom, #b12e2a, #f47c45);
    }
  }

  &-link {
    margin: 15px;

    float: right;

    font-family: 'TT Norms', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17px;

    opacity: 0.5;
  }
}
