.chart {
  margin-top: 66px;

  &-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      font-family: 'MER', sans-serif;
      font-size: 50px;

      color: #fff;

      .diff {
        margin-left: 20px;

        font-family: 'TNR', sans-serif;
        font-size: 15px;

        &-down {
          padding: 5px;

          display: flex;
          align-items: center;
          gap: 5px;

          color: #de3f3a;
          border: 2px solid #de3f3a;
          border-radius: 20px;
        }

        &-up {
          padding: 5px;

          display: flex;
          align-items: center;
          gap: 5px;

          color: #0cbd68;
          border: 2px solid #0cbd68;
          border-radius: 20px;
        }
      }
    }

    &-btns {
      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9px;

      width: 288px;
      height: 62px;

      background: rgba(255, 255, 255, 0.1);
      border-radius: 31px;
    }

    &-btn {
      padding: 10px 19px;

      font-family: 'TNB', sans-serif;
      font-size: 16px;

      cursor: pointer;

      color: #fff;

      background: rgba(255, 255, 255, 0.1);

      border-radius: 21px;
    }

    .active {
      background: linear-gradient(to right bottom, #b12e2a, #f47c45);
    }
  }
}
