@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .composition {
    @include shadow-block;
  }
}

.light {
  .composition {
    @include light-block;
  }
}

.composition {
  margin-top: 60px;
  padding: 40px;

  display: flex;
  flex-direction: column;

  &__title {
    @include gradient-text;
    font-size: 20px;
    line-height: 24px;
  }

  &__content {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;

    @include b(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__change-btn {
    margin: 40px auto 0;

    max-width: 280px;
  }
}
