@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.composition {
  @include shadow-block;
  margin-top: 60px;
  padding: 40px;
  display: flex;
  flex-direction: column;

  &__title {
    @include gradient-text;
    font-size: 20px;
    line-height: 24px;
  }

  &__content {
    margin-top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
  }

  &__change-btn{
    max-width: 280px;
    margin: 40px auto 0;
  }
}
