@import '../../styles/variables';
@import '../../styles/mixins';

.dark {
  .index-dashboard {
    &__item {
      @include shadow-block;
      color: $white;
      &:hover {
        background: $table-selected;
      }
    }

    &__token-color {
      --color: white;
      background-color: var(--color);

      &.yellow {
        --color: #f7931e;
      }

      &.blue {
        --color: #2754cd;
      }

      &.red {
        --color: #d53038;
      }
    }

    &__token-percent {
      --color: $white;
      border-color: var(--color);

      &.yellow {
        --color: #f7931e;
      }

      &.blue {
        --color: #2754cd;
      }

      &.red {
        --color: #d53038;
      }
    }

    .no-indexes {
      @include shadow-dark-block;
    }
  }
}

.light {
  .index-dashboard {
    &__item {
      @include light-block;
      color: $black;
      &:hover {
        background: $table-selected;
        color: white;
      }
    }

    &__token-color {
      --color: #000136;
      background-color: var(--color);

      &.yellow {
        --color: #f7931e;
      }

      &.blue {
        --color: #2754cd;
      }

      &.red {
        --color: #d53038;
      }
    }

    &__token-percent {
      --color: $black;
      border-color: var(--color);

      &.yellow {
        --color: #f7931e;
      }

      &.blue {
        --color: #2754cd;
      }

      &.red {
        --color: #d53038;
      }
    }

    .no-indexes {
      @include shadow-light-block;
    }
  }
}

.index-dashboard {
  margin-top: 30px;

  &__big {
    @include b(tablet) {
      display: none;
    }
  }

  &__small {
    padding-top: 15px;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }

  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: 240px repeat(2,2fr) repeat(4,1fr);
    grid-column-gap: 20px;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 10px;
    grid-template-areas:
      '. . . . . . .'
      '. ic ic ic ic ic ic';

    &--head {
      padding: 0 30px;

      align-items: end;

      font-family: 'Monument Extended', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
    }
  }

  &__sort {
    display: inline-flex;
    align-items: center;

    cursor: pointer;

    &::after {
      content: '';

      margin-left: 5px;

      width: 10px;
      height: 6px;

      background-image: url(../../assets/img/icons/icon-arrow-yellow.svg);
      background-repeat: no-repeat;
      background-position: center;

      transition: transform 0.3s;
    }

    &--up {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    font-size: 18px;
    line-height: 21px;
  }

  &__item {
    cursor: pointer;
    padding: 20px 30px;
    transition: background 0.3s;
    & + & {
      margin-top: 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
  }

  &__name {
    font-family: 'Monument Extended', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
  }

  &__market-cup {
    font-family: 'Monument Extended', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
  }

  &__price {
    @include gradient-text;
    font-family: 'Monument Extended', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
  }

  &__percent {
    display: flex;
    align-items: center;

    font-size: 15px;
    line-height: 18px;

    &::before {
      content: '';

      margin-right: 5px;

      width: 10px;
      height: 12px;

      background-repeat: no-repeat;
      background-position: center;
    }

    &--up {
      color: $green;

      &::before {
        background-image: url(../../assets/img/icons/icon-arrow-up-green.svg);
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath stroke='%2338DEA2' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 4l4-3 4 3M5 3v6'/%3E%3C/svg%3E");
      }
    }

    &--down {
      color: $red;

      &::before {
        background-image: url(../../assets/img/icons/icon-arrow-down-red.svg);
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath stroke='%23DE3F3A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 6L5 9 1 6M5 7V1'/%3E%3C/svg%3E");
      }
    }
  }

  &__tokens {
    display: flex;
  }

  &__token {
    display: flex;
    align-items: center;

    & + & {
      margin-left: 10px;
    }
  }

  &__token-color {
    margin-right: 5px;

    width: 5px;
    height: 5px;

    border-radius: 50%;

    // &.yellow {
    //   --color: #f7931e;
    // }

    // &.blue {
    //   --color: #2754cd;
    // }

    // &.red {
    //   --color: #d53038;
    // }

    // background-color: var(--color);
  }

  &__token-name {
    font-family: 'TTNorms', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    text-transform: uppercase;
  }

  &__composition {
    grid-area: ic;

    display: flex;
  }

  &__token-percent {
    padding-top: 3px;

    font-size: 14px;
    line-height: 17px;
    text-align: right;

    border-color: var(--color);

    border-top: 3px solid;

    border-radius: 1px;

    // &.yellow {
    //   --color: #f7931e;
    // }

    // &.blue {
    //   --color: #2754cd;
    // }

    // &.red {
    //   --color: #d53038;
    // }

    // border-color: var(--color);
    & + & {
      margin-left: 10px;
    }
  }

  .no-indexes {
    margin-top: 50px;
    padding: 70px 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    .no-indexes__text {
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
    }
  }
}
