@import '../../../styles/_variables.scss';
@import '../../../styles/_mixins.scss';

.dark {
  .index-rebalance-history {
    @include shadow-block;

    &__title {
      color: white;
    }
  }
}

.light {
  .index-rebalance-history {
    @include light-block;

    &__title {
      color: $black;
    }
  }
}

.index-rebalance-history {
  margin-top: 60px;
  padding: 50px 40px 20px;

  &__title {
    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;

    @include b('tablet') {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__value {
    margin-top: 25px;

    font-size: 60px;
    line-height: 74px;
    @include b('tablet') {
      font-size: 50px;
      line-height: 60px;
    }
    @include b('mobile') {
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__info {
    margin-top: 40px;

    font-family: 'Monument Extended', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;

    color: rgba($black, 0.4);
  }
}
