@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.fixed {
  position: fixed;
  z-index: 100;
}

.expand {
  z-index: 100;
  position: relative;

  overflow: auto;

  width: 100vw;
  height: 100vh;

  background-image: url('../../assets/img/home-dark-bg.png');
  background-repeat: no-repeat;
  background-blend-mode: unset;
  background-position: top center;
  background-color: #0e1a37;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  box-shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);

  transition: all 0.4s;
  background-blend-mode: lighten;
  @include b('tablet') {
    // position: fixed;
  }

  @include b('mobile') {
    top: 0;
  }
}

.collapse {
  z-index: 100;

  overflow: hidden;

  height: 122px;

  background-color: #0e1a37;

  box-shadow: -8px 8px 12px rgba(13, 36, 82, 0.1);
  @include b('tablet') {
    width: 100vw;

    transition: all 0.4s;
  }
}

.header__wrapper {
  position: sticky;
  z-index: 999;
  top: 0;

  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(171.49deg, #1a1e3a 3.83%, #161a2a 100%);

  &__menu {
    display: none;

    @include b('tablet') {
      position: relative;
      top: 0;
      left: 0;

      display: block;

      cursor: pointer;
    }
  }

  &__inner {
    position: relative;

    padding: 40px 0;

    display: grid;
    grid-template-columns: 1fr 410px 1fr;

    align-items: center;
    @include b('tablet') {
      margin: 0 auto;

      display: flex;
      justify-content: space-between;

      width: 100%;
      max-width: 605px;
      height: 122px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    @include b('tablet') {
      margin: 0 auto;
    }
  }

  &__logo-text {
    margin-left: 15px;

    font-family: 'MEB';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.93em;

    color: $white;
    @include b('tablet') {
      font-family: 'MEB';
      font-size: 6.96671px;
      line-height: 8px;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
  }

  &__sign {
    display: flex;
    justify-content: flex-end;
  }

  &__nav,
  &__sign {
    @include b('tablet') {
      display: none;
    }
  }

  .container {
    .menu-nav {
      &__link {
        font-family: 'MEB';
        font-size: 18px;
        line-height: 120%;
        text-decoration: none;

        color: #f7f8fd;

        &:hover,
        &:active {
          color: #f7f8fd;
        }
      }
    }

    .header__inner {
      .header__logo {
        .btn-clear {
          background: transparent;
        }
      }
    }

    .menu__nav {
      .menu-nav {
        &__item {
          .menu-nav__link {
            background: transparent;
          }
        }
      }
    }
  }

  .footer {
    margin-top: 240px;

    &__col {
      align-items: flex-start;

      & + & {
        margin-bottom: 30px;
      }

      &:not(:first-child) {
        display: block;
      }

      .footer__logo {
        .btn-clear {
          background: transparent;
        }
      }
    }

    &__links {
      margin-top: 0;
    }

    &__socials {
      margin-top: 70px;

      justify-content: center;

      &-item {
        width: 48px;
        height: 48px;
      }
    }
  }

  .btn-clear {
    background: transparent;
  }
}

.header-nav {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;

  list-style: none;

  &__item {
    & + & {
      margin-left: 40px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    color: #f7f8fd;

    &:hover,
    &:active {
      color: #f7f8fd;
    }
  }

  &__btn {
    display: inline-block;

    width: 150px;
  }
}

.menu {
  margin: 0 auto;

  width: 100%;
  max-width: 605px;

  &__nav {
    display: flex;
    justify-content: flex-start;
  }

  &__sign {
    display: flex;
    justify-content: flex-end;
  }
}

.menu-nav {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: end;

  list-style: none;
  gap: 30px;

  &__btn {
    display: inline-block;

    width: 150px;
  }
}

.footer {
  &__wrapper {
    margin: 54px auto 0;

    max-width: 605px;
  }

  &__logo {
    margin: 0 auto;
  }

  &__content {
    flex-direction: column;
    align-items: center;
  }

  &__descr {
    max-width: 350px;
  }
}
