@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.dark {
  .small-card {
    @include shadow-block;

    &__title {
      color: white;
    }

    &__header {
      background-color: rgba(242, 243, 248, 0.1);
    }

    &--hover {
      &:hover {
        .small-card__body {
          color: $black;
          background-color: $white;
        }
      }
    }
    &--selected {
      .small-card__body {
        color: $black;
        background-color: $white;
      }
      .small-card__title {
        color: $black;
      }
      .small-card__header {
        color: $black;
        background-color: rgba($white, 0.7);
      }
    }
  }
}

.light {
  .small-card {
    @include shadow-light-block;

    &__title {
      color: $black;
    }

    &__header {
      background: $gray-bg;
    }

    &--hover {
      &:hover {
        .small-card__body {
          color: $white;
          background-color: $table-selected;
        }
      }
    }
    &--selected {
      .small-card__body {
        color: $white;
        background-color: $table-selected;
      }
      .small-card__title {
        color: $white;
      }
      .small-card__header {
        color: $white;
        background-color: rgba($table-selected, 0.7);
      }
    }
  }
}

.small-card {
  position: relative;

  overflow: hidden;

  font-family: 'Monument Extended', sans-serif;
  font-weight: normal;

  background-color: #171b2f;
  border-radius: 16px 16px 0 0;

  &:last-child {
    border-radius: 16px;
  }

  &--clickable {
    cursor: pointer;
  }

  &__header {
    padding: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--title {
      font-size: 12px;

      opacity: 0.5;
    }

    &--subtitle {
      font-family: 'TTNorms', sans-serif;
      font-size: 18px;
      font-weight: normal;
    }

    &--right {
      img {
        width: 31px;
        height: 31px;

        border-radius: 50%;
      }
    }
  }

  &__body {
    padding: 20px 12px;
    padding-bottom: 25px;

    display: grid;
    align-items: flex-end;

    transition: background-color 0.4s ease;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
  }

  &__title {
    font-size: 12px;

    color: #fff;
    opacity: 0.5;
  }

  &__subtitle {
    font-size: 18px;
  }
}
