@import '../../styles/variables';
@import '../../styles/mixins';

.dark {
  .stake {
    @include shadow-block;

    &__title {
      color: rgba($white, 0.5);
    }

    &-item {
      background-color: rgba($white, 0.05);

      &:hover,
      &--active {
        background-color: darken($gray-bg, 3%);

        .stake-item__amount,
        .token-mini {
          color: $black;
        }

        .stake-item__abbr {
          color: rgba($black, 0.4);
        }
      }
    }

    &-amount__all {
      color: rgba($white, 0.4);
    }
  }

  .stake-amount {
    &__time-wrapper {
      border: 3px solid rgba($white, 0.1);
    }

    &__time {
      background-color: rgba($black, 0.1);
    }
  }
}

.light {
  .stake {
    @include light-block;

    &__title {
      color: $black;
    }

    &-item {
      background-color: $gray-bg;

      &:hover,
      &--active {
        background: $table-selected;

        .stake-item__amount,
        .token-mini {
          color: $white;
        }

        .stake-item__abbr {
          color: rgba($white, 0.4);
        }
      }
    }

    &-amount__all {
      color: rgba($black, 0.4);
    }
  }

  .stake-amount {
    &__time-wrapper {
      border: 3px solid rgba($black, 0.1);
    }

    &__time {
      background-color: rgba($black, 0.1);
    }
  }
}

.stake {
  margin-top: 30px;
  padding: 40px;

  &__no-stake {
    margin-top: 20px;

    width: 100%;

    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin-right: 40px;

    font-family: 'Monument Extended', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    text-align: right;
  }

  &__content {
    margin-top: 15px;
  }

  &__btn-row {
    margin: 40px auto 0;

    display: flex;
    justify-content: center;

    max-width: 205px;
  }
}

.stake-item {
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  cursor: pointer;

  border-radius: 40px;

  transition: background-color 0.3s;

  @include b('mobile') {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  & + & {
    margin-top: 15px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__name-wrapper {
    margin-left: 10px;
  }

  &__name {
    font-family: 'TTNorms', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
  }

  &__abbr {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
  }

  &__amount {
    font-family: 'TTNorms', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
}

.stake-amount {
  $this: &;
  margin-top: 50px;

  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 auto;

    font-size: 20px;
    line-height: 24px;
  }

  &__input-wrapper {
    position: relative;

    margin: 15px auto 0;

    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 500px;

    @include b('mobile') {
      position: relative;

      .ant-input-number-input-wrap {
        position: absolute;
        top: 20px;
      }

      .stake-amount__all {
        position: absolute;
        top: 61px;
        left: calc(50% - 93px / 2);
      }
    }

    .input-border {
      width: 100%;
      height: 100px;
    }

    .input {
      font-size: 30px;
      line-height: 35px;
    }

    .ant-input-number {
      max-width: unset;
    }
  }

  &__all {
    position: absolute;
    top: 40px;
    right: 36px;

    font-family: 'TTNorms', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    cursor: pointer;
  }

  &__time-row {
    margin-top: 20px;

    display: flex;
    justify-content: center;
  }

  &__time-wrapper {
    padding: 10px;

    display: flex;

    box-sizing: border-box;

    border-radius: 40px;

    @include b('mobile') {
      width: 354px;
    }
  }

  &__time {
    width: 110px;
    height: 43px;

    cursor: pointer;

    border-radius: 40px;

    & + & {
      margin-left: 10px;
    }
  }

  &__time-radio {
    display: none;

    &:checked + #{$this}__time-label {
      color: $white;
      background: linear-gradient(180deg, #5381ff 0%, #1944b9 100%);
    }
  }

  &__time-label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-family: 'TTNorms', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;

    transition: all 0.3s;
  }
}
