@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .description {
    &__title,
    &__text,&__video {
      color: $white;
    }
  }
}

.light {
  .description {
    &__title,
    &__text,&__video {
      color: $black;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;

  width: 100%;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include b('tablet') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text--wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 605px;

    @include b('mobile') {
      max-width: 334px;
    }
  }

  &__title {
    font-family: 'Monument Extended', sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;

    /* identical to box height */
    font-feature-settings: 'liga' off;
  }

  &__text {
    margin-top: 12px;

    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;

    /* or 24px */
    letter-spacing: 0.035em;

    font-feature-settings: 'liga' off;
  }

  &__btns-row {
    margin-top: 30px;

    display: flex;
    justify-content: flex-start;
    gap: 30px;

    // width: 100%;
    // max-width: 530px;

    @include b('tablet') {
      margin-top: 89px;

      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .btn {
      padding: 17px 0;
    }

    a {
      width: 100%;
      max-width: 250px;

      @include b('tablet') {
        max-width: 350px;
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 250px;
    flex-shrink: 0;

    @include b('tablet') {
      min-width: 350px;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;
    height: fit-content;
    video{
      width: 462px;
      height: 100%;
      border-radius: 16px;
      @include b('mobile') {
        width: 391px;
      }
    }

    &--info {
      margin-top: 31px;
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      line-height: 30px;
      font-weight: normal;
    }

    &--link {
      text-decoration: underline;

      color: #f47c45;
    }
  }
}

.section + .section {
  @include b('tablet') {
    margin-top: 100px !important;
  }

  @include b('mobile') {
    margin-top: 50px !important;
  }
}
