@import '../../../../styles/_variables.scss';
@import '../../../../styles/mixins';

.dark {
  .index-card-mobile {
    @include shadow-dark-block;
    border-bottom: 1px solid rgba($white, 0.2);
    &__title {
      color: rgba($white, 0.5);
    }
    &__value {
      color: $white;
    }
  }
}

.light {
  .index-card-mobile {
    @include light-block;
    border-bottom: 1px solid rgba($black, 0.2);
    &__title {
      color: rgba($black, 0.5);
    }
    &__value {
      color: $black;
    }
  }
}
.index-card-mobile {
  padding: 20px 12px;

  font-family: 'Monument Extended', sans-serif;
  font-weight: normal;

  &:first-child {
    margin-top: 12px;

    border-radius: 16px 16px 0 0;
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 16px 16px;
  }

  @include b('tablet') {
    &:first-child,
    &:last-child {
      border-radius: 16px;
    }
  }

  &__title {
    font-size: 12px;
  }

  &__value {
    font-size: 18px;
  }

  &__info {
    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
