@import '../../../../styles/_variables.scss';
@import '../../../../styles/mixins';

.dark {
  .index-card-mobile {
    @include shadow-dark-block;
    border-bottom: 1px solid rgba($white, 0.2);
    border-radius: 0;

    &:hover {
      //background: $table-selected;
    }

    &__title {
      color: rgba($white, 0.5);
    }

    &__value {
      color: $white;
    }
  }
}

.light {
  .index-card-mobile {
    @include shadow-light-block;
    border-bottom: 1px solid rgba($black, 0.2);
    border-radius: 0;

    &__title {
      color: rgba($black, 0.5);
    }

    &:hover {
      color: $white;
      //background: $table-selected;

      & .index-card-mobile__title {
        color: rgba($white, 0.5);
      }
    }
  }
}

.index-card-mobile {
  padding: 20px 12px;

  font-family: 'Monument Extended', sans-serif;
  font-weight: normal;

  cursor: pointer;

  transition: background 0.3s;

  &:first-child {
    margin-top: 12px;

    border-radius: 16px 16px 0 0;
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 16px 16px;
  }

  &__title {
    font-size: 12px;
  }

  &__value {
    display: block;
    font-size: 18px;
    @include text-ellipsis();
  }

  &__info {
    margin: 20px 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
