@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.dark {
  .select-network {
    .ant-select-selector {
      color: $white !important;
      background: #0c1735 !important;
      border: 2px solid #647091 !important;
    }
  }

  .select-network__dropdown,
  .ant-select-dropdown {
    background: #181c33;

    .ant-select-item-option-selected,
    .ant-select-item-option-active {
      background: rgba(255, 255, 255, 0.05) !important;
    }
  }
}

.light {
  .select-network__dropdown {
    .ant-select-item-option-selected,
    .ant-select-item-option-active {
      background: $main-bg;
    }
  }
}

.select-network {
  .ant-select-selector {
    box-sizing: border-box;

    border-radius: 10px !important;
  }
}

.select__arrow {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
}

.select-network__dropdown {
  border-radius: 10px;

  .ant-select-item-option-selected {
    border-radius: 10px;
  }
}
