@import '../../styles/_variables.scss';
@import '../../styles/mixins';

.dark {
  .select-network,.ant-select:not(.ant-select-customize-input) {
     .ant-select-selector {
      color: $white ;
      background: #0c1735 ;
      border-color:#647091 ;
    }
  }

  .select-network__dropdown,
  .ant-select-dropdown {
    background: #181c33;

    .ant-select-item-option-selected,
    .ant-select-item-option-active {
      background: rgba(255, 255, 255, 0.05) !important;
    }
  }
}

.light {
  .select-network,.ant-select:not(.ant-select-customize-input) {
     .ant-select-selector {
      color: $black ;
      background: $white ;
      border-color:#D2D3D7 ;
    }
  }
  .select-network__dropdown {
    .ant-select-item-option-selected,
    .ant-select-item-option-active {
      background: $main-bg;
    }
  }
}

.select-network{
  .ant-select-selector {
    box-sizing: border-box;
    padding: 0 7px !important;
    border-radius: 10px !important;
    border-width: 2px !important;
  }
}

.select__arrow {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
}

.select-network__dropdown {
  border-radius: 10px;

  .ant-select-item-option-content {
    justify-content: start;
  }

  .ant-select-item-option-selected {
    border-radius: 10px;
  }
}

.ant-select,
.select-network {
  .token-mini {
    width: 26px;
    margin-right: 5px;
  }

  .ant-select-selector {
    .ant-select-single,
    .ant-select-show-arrow,
    .ant-select-selection-item,
    .ant-select-single.ant-select-show-arrow,
    .ant-select-selection-placeholder {
      display: flex;
    }
  }
}
