.token-mini {
  display: flex;
  align-items: center;

  &__name-wrapper {
    margin-left: 10px;

    color: white;
  }

  &__name {
    font-family: 'TTNorms';
font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &__symbol {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    opacity: 0.4;
  }
}
