@import '../../styles/variables';
@import '../../styles/mixins';

// .dark {
//   .token-mini__name-wrapper {
//     color: $white;
//   }
// }
// .light {
//   .token-mini__name-wrapper {
//     color: $black;
//   }
// }
.token-mini {
  display: flex;
  align-items: center;

  &__name-wrapper {
    margin-left: 10px;
  }

  &__name {
    font-family: 'TTNorms', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    @include text-ellipsis(70px);
  }

  &__symbol {
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    opacity: 0.4;
  }
}
