@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.machine {
  margin-top: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
@include b('tablet'){
  margin-top: 70px;
  flex-direction: column;
  overflow: hidden;
}
  &__descr {
    max-width: 420px;

    font-size: 18px;
    line-height: 30px;

    color: $white;
    @include b('tablet'){
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__img{

    @include b('tablet'){width: 100%;
    }
  }
}
