@import '../../../styles/mixins';

.xy-structure-table {
  margin-top: 40px;

  &__first-col {
    font-family: 'TTNorms', sans-serif;

    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
  }

  &__big {
    display: block;
    @include b(tablet) {
      display: none;
    }
  }

  &__small {
    padding-top: 15px;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }
}
