@import '../../../styles/variables';
@import '../../../styles/mixins';

.dark {
  .m-info__content {
    @include shadow-block;
    color: $white;
  }
}
.light {
  .m-info__content {
    @include light-block;
    color: $black;
  }
}

.m-info {
  z-index: 9999;

  &__content {
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 380px;

    font-family: 'Monument Extended', sans-serif;
    font-weight: normal;

    text-align: center;
  }

  &__title {
    &-success {
      color: $green-l;
    }

    &-error {
      color: $orange-l;
    }

    &-info {
      color: $black;
    }
  }

  p {
    margin: 11px 0 30px;
  }
}
