@import '../../../styles/_variables.scss';
@import '../../../styles/mixins';

.dark {
  .harvest {
    &__title {
      color: $white;
    }
    &__subtitle {
      color: $white;
    }
  }
}

.light {
  .harvest {
    &__title {
      color: $black;
    }
    &__subtitle {
      color: $black;
    }
  }
}

.section  {
    &.harvest {
      margin-top: 100px;
    }
  
  
}
.harvest {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include b('mobile') {
      flex-direction: column;
    }
  }

  &__item {
    width: 530px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px; 
    margin-top: 40px;

    @include b('tablet') {
      margin: 30px;
    }

    @include b('mobile') {
      width: 350px;
      margin: 30px;
    }

  }
  

  &__title-wrapper-Black {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.1) 100%);
  }

  &__title-wrapper-White {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(97, 90, 90, 0.1) 100%);
  }

  &__title {
    font-family: 'Monument Extended';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px; 
    
    @include b('mobile') {
      font-size: 18px;
    }
  }

  &__weats-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
  }

  &__weat-container {
    width: 80px;
    height: 80px;
    @include b('mobile') {
      width: 57px;
      height: 57px;
    }
    margin-left: 16px;

    &:first-child {
      margin-left: 0px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 103, 103, 0.2);
  }

  &__weat-container-profit {
    width: 80px;
    height: 80px;
    position: relative;
    @include b('mobile') {
      width: 57px;
      height: 57px;
    }

    &:first-child {
      margin-left: 0px;
    }
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(245, 255, 244, 0.18) 0%, rgba(122, 255, 119, 0.21) 100%);
  }

  &__text {
    position: absolute;
    right: -5px;
    top: -5px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #74EF42;
    @include b('mobile') {
      font-size: 18.0803px;
      line-height: 18px;
    }
  }

  &__img {
    @include b('mobile') {
      width: 18px;
    }
  }

  &__subtitle-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 40px;
    @include b('mobile') {
      flex-direction: column;
      padding: 0;
      align-items: center;
    }
  }

  &__subtitle {
    width: 541px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    opacity: 0.9;

    @include b('tablet') {
      font-size: 18px;
      line-height: 24px;
    }
    @include b('mobile') {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
      order: 2;
    }
  }

  &__main-subtitle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 509px;
    height: 144px;
    margin-left: 80px;
    border-radius: 32px 32px 32px 0px;
    background-color: $red;
    padding: 24px 32px 24px 40px;

    @include b('tablet') {
      width: 400px;
      height: 144px;
    }

    @include b('mobile') {
      width: 350px;
      height: 124px;
      margin-left: 0;
      order: 1;
    }
  }

  &__subtitle-main {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;

    @include b('mobile') {
      font-size: 16px;
      line-height: 19px;
    }
  }
}