@import '../../../styles/variables';
@import '../../../styles/mixins';

.initial-mint-event {
  &__title-wrapper {
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;

    font-size: 48px;
    line-height: 58px;
  }

  &__content {
    padding: 40px 50px 40px 30px;

    display: flex;
    justify-content: space-between;

    width: 100%;

    background: linear-gradient(355.19deg, #fff 0%, #dde1f0 100%);
    border-radius: 32px;
    box-shadow: -8px 8px 36px rgba(203, 209, 230, 0.3);
  }

  &__description {
    width: 100%;
    max-width: 340px;

    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.035em;
    font-feature-settings: 'liga' off;
  }

  &__timings {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__timing {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-family: 'MEB';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    gap: 20px;
  }

  &__unit {
    display: flex;
    justify-content: flex-end;
    gap: 62px;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.035em;

    span {
      width: 77px;

      text-align: center;
    }
  }

  &__timer {
    display: flex;
    gap: 25px;

    span {
      font-family: MER;
      font-size: 44px;
      line-height: 53px;
      text-align: center;

      font-feature-settings: 'liga' off;
    }

    &-time {
      width: 77px;
    }

    &-colon {
      width: 12px;
    }
  }

  &__get-btn {
    margin-top: 22px;
    margin-left: auto;

    max-width: 463px;
  }
}
