@import '../../styles/variables';
@import '../../styles/mixins';

.dark {
  .staking-statistics-table {
    &__row {
      & + & {
        border-top: 1px solid rgba($white, 0.1);
      }

      &--head {
        color: rgba($white, 0.5);
      }
    }

    &__content {
      @include shadow-block;
    }

    &__token,
    &__date,
    &__value {
      color: $white;
    }
  }

}

.light {
  .staking-statistics-table {
    &__row {
      & + & {
        border-top: 1px solid rgba($black, 0.1);
      }

      &--head {
        color: rgba($black, 0.5);
      }
    }

    &__content {
      @include light-block;
    }

    &__token,
    &__date,
    &__value {
      color: $black;
    }
  }
}

.staking-statistics {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include b('tablet') {
    align-items: center;
  }

  .section__title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__refresh {
    transition: 0.6s;
    transition: transform 0.5s;
    transform: rotate(360deg);

    &:active {
      transition: 0s;
      transform: rotate(0deg);
    }
  }

  &__btn-row {
    margin: 20px 0;

    display: flex;
    gap: 20px;
    @include b('mobile') {
      flex-direction: column;

      width: 100%;
    }
  }

  .btn {
    width: unset;
  }

  .btn-outline {
    padding: 18px 50px;
    @include b('mobile') {
      padding: 18px;
    }
  }
}

.staking-statistics-table {
  margin-top: 30px;

  &__big {
    @include b(tablet) {
      display: none;
    }
  }

  &__small {
    padding-top: 15px;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }

  &__row {
    padding: 20px 10px;

    display: grid;
    align-items: center;
    grid-template-columns: 220px 60px 100px repeat(4, 1fr);
    grid-column-gap: 20px;

    &--head {
      margin-bottom: 10px;
      padding: 0 30px;

      align-items: end;

      font-family: 'Monument Extended', sans-serif;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
    }
  }

  &__content {
    padding: 0 20px;
  }

  &__token {
    display: flex;
    align-items: center;

    font-size: 18px;
    line-height: 21px;

    &::before {
      content: '';

      margin-right: 10px;

      width: 31px;
      height: 31px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 31 31'%3E%3Cpath fill='%238594BE' d='M31 15.5C31 24.06 24.06 31 15.5 31 6.94 31 0 24.06 0 15.5 0 6.94 6.94 0 15.5 0 24.06 0 31 6.94 31 15.5z'/%3E%3Cpath fill='%23fff' d='M15.309 8.611l-.097.328v9.529l.097.096 4.423-2.614-4.423-7.339z'/%3E%3Cpath fill='%23fff' d='M15.31 8.611l-4.424 7.339 4.423 2.614V8.611zM15.31 19.835l-.055.067v3.394l.054.159 4.426-6.233-4.426 2.613z'/%3E%3Cpath fill='%23fff' d='M15.309 23.455v-3.62l-4.423-2.613 4.423 6.233z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__time {
    font-size: 18px;
    line-height: 22px;
    @include gradient-text;
  }

  &__date {
    font-size: 18px;
    line-height: 21px;
  }

  &__value {
    font-family: 'Monument Extended', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
  }
}
